<div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #fff;min-height: 700px;">

  <div class = "col-sm-3 col-md-3 col-lg-3">
  </div>
    

  <div class = "col-sm-6 col-md-6 col-lg-6" style = "text-align: center; ">
    <strong><h1 style = "font-size: 110px; color: #7C064D; margin-bottom: 20px; ">EDIT USER</h1></strong>
    <hr>


    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

              
        <%= f.email_field :email, autofocus: true, :label => "EMAIL" %>
      
      
              
        <%= f.text_field :website, autofocus: true, :label => "YOUR WEBSITE" %>
      

              
        <%= f.text_field :street_address, autofocus: true, :label => "YOUR STREET ADDRESS" %>
      

              
        <%= f.text_field :city, autofocus: true, :label => "YOUR CITY" %>
      

              
        <%= f.text_field :state, autofocus: true, :label => "YOUR STATE" %>
      

              
        <%= f.text_field :zipcode, autofocus: true, :label => "YOUR ZIPCODE" %>

        <%= f.text_field :phone_number, autofocus: true, :label => "YOUR PHONE NUMBER" %>

        
      


      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

        <%= f.password_field :current_password, autocomplete: "off", :label => "CURRENT PASSWORD (we need your current password to confirm your changes)" %>
              
        <%= f.password_field :password, autocomplete: "off", :label => "NEW PASSWORD (leave blank if you don't want to change it)" %>    
      
        <%= f.password_field :password_confirmation, autocomplete: "off", :label => "PASSWORD CONFIRMATION" %>
    
      <div class="signin-button">

      <%= f.select :role, User.roles.keys.map{|x| x.upcase}, {:label => "EDIT PACKAGE"} %>

        <%= f.submit "Update", class: "btn btn-danger" %>
      </div>
    <% end %>

  <br>
  <br>
    </div>

</div>
