<div class = "col-sm-3 col-md-3 col-lg-3">
    </div>



    <div class = "col-md-6 col-sm-6col-lg-6 col-xs-6" style = "text-align: center; ">
      <h1 style = "font-size: 110px; color: #7C064D; margin-bottom: 20px; "><strong>SIGN UP</strong></h1>
      
      <hr>                

      <div class = "col-md-12 col-sm-12 col-lg-12 col-xs-12">
                <div class = "w3-panel w3-card-2 package" style = "overflow-y: scroll; height: 500px;">
                  <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "padding: 0px;">
                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12" style = "background-color: grey; padding: 0px; color: white;">
                        <h3>BASIC USER PACKAGE</h3>                    
                      </div>

                      <div class = "col-md-12 col-xs-12 col-lg-12 col-sm-12">
                        <h4>STARTING AT $5/LISTING</h4>
                        <hr>
                        <p>Best for individual sellers</p>
                        <hr>
                        <p>Best for selling your car personally</p>
                        <hr>
                        <p>Advertisement valid for 1 month</p>     
                        <hr>
                        <p>Email Inquiry form for your intrested customers</p>              
                        <hr>
                        <p>Showcase your listing in buyers searches around you</p>
                        <hr>              
                      </div>
                  </div>
                </div>
              </div>

      <hr>
      </br>

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
          <%= f.email_field :email, autofocus: true, :label => "EMAIL" %>
                  
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", :label => "PASSWORD" %>
          
          <%= f.password_field :password_confirmation, autocomplete: "off", :label => "PASSWORD CONFIRMATION" %>

          <br>
          <hr>
          <br>

          

       
          <%= f.select :role, User.roles.except("SALES").keys.map{|x| x.upcase}, {:label => "CHOOSE PACKAGE THAT SUITS YOU BEST"} %>          

          <%= f.text_field :name, autofocus: true, :label => "YOUR COMPANY NAME(*)" %>

          <%= f.text_field :website, autofocus: true, :label => "WEBSITE" %>

          <%= f.text_field :leademail1, autofocus: true, :label => "ADD EXTRA LEAD EMAIL" %>

        <%= f.text_field :leademail2, autofocus: true, :label => "ADD EXTRA LEAD EMAIL" %>



         <div class="col-md-12 text-center" style = "margin-top: 1em;">
              <input class="btn btn-danger" id="hideshow2" style="margin-top: 10px; margin-bottom: 10px;" type="button" value="CLICK HERE TO CUSTOMIZE YOUR LANDING PAGE"></input>
            </div>



            <div class = "togglediv2">    
                <div class = "w3-panel w3-card-2">    
                    <div class = "col-sm-12 col-md-12 col-lg-12">                    

                          <%= f.file_field :backgroundimage, :label => "CHOOSE A BACKGROUND IMAGE FOR THE PAGE" , :style => "color: #7C064D;" %>

                          <%= f.file_field :logoimage, :label => "UPLOAD YOUR LOGO" , :style => "color: #7C064D;" %>

                          <%= f.text_field :textcolor, :label => "CHOOSE A TEXT COLOR" , :style => "color: #7C064D;" %>
                          
                          <%= f.text_field :websiteheader, autofocus: true, :label => "ENTER A HEADER FOR THE PAGE" %>

                          <%= f.text_field :websitesubheader, autofocus: true, :label => "ENTER A SUBHEADER FOR THE PAGE" %>

                          <%= f.text_area :websitedescription, autofocus: true, :label => "ENTER A DESCRIPTION FOR THE PAGE" %>

                          <%= f.text_area :textbackgroundcolor, autofocus: true, :label => "ENTER COMMA SEPERATED RGB VALUES FOR THE TITLE BACKGROUND" %>


                    </div>  
                </div>                  
            </div>



         


           <br>
          <hr>
          <br>

          

            <br>
          <hr>
          <br>

         


          <%= f.text_field :street_address, autofocus: true, :label => "YOUR STREET ADDRESS" %>  
        
          <%= f.text_field :city, autofocus: true, :label => "YOUR CITY" %>

          <%= f.select :state, options_for_select(us_states), {:label => "YOUR STATE"}  %>
        
          <%= f.text_field :zipcode, autofocus: true, :label => "YOUR ZIPCODE" %>

          <%= f.text_field :phone_number, autofocus: true, :label => "YOUR PHONE NUMBER" %>
         
           

          <%= f.submit "Sign up", class: "btn btn-danger" %>


          
        <% end %>

        <div class="signin-button">

          <p>
            <%= render "devise/shared/links" %>
          </p>

        </div>
    </div>

    <div class = "col-sm-3 col-md-3 col-lg-3">
    </div>

<script>
$(document).ready(function(){
  
  $('#hideshow2').on('click', function(event){
    $('.togglediv2').toggle('show');    
  });

  
  $('.togglediv2').toggle('hide');
  

});
</script>