<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "cardiv" style = "border: 3px solid red; padding: 0px; margin: 2px 0px;">
                  <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <%- if  i.logoimage.thumb.present? -%>
                        <%= image_tag i.logoimage.thumb.url, :class => "style_image" %> 
                      <% else %>                
                        <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/TDC.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> " max-height: 10%; max-width: 10%; margin: auto;") %>
                      <% end %> 
                    </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <h3><strong><%= i.name.upcase %></strong></h3>
                    </div>                   
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <p style = "display: inline;"><strong><span class="glyphicon glyphicon-certificate"></span><strong> WACBAC Rating: <%= get_rating_in_star(Review.get_average_rating(i.id)) %>  </strong></p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <p ><strong><span class="glyphicon glyphicon-pushpin"></span><strong> Street Address: <%= i.full_address %>  </strong></p>
                    </div>                    
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">                      
                      <p><strong><span class="glyphicon glyphicon-paperclip"></span><strong> Website: <a href =<%= "//#{i.website}" %> rel="noopener noreferrer" style= "text-decoration: underline;" target="_blank"><%= i.website %></a> </strong></p>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <p><a href = <%= "https://www.google.com/maps/?q=#{i.latitude},#{i.longitude}" %> class = "btn btn-danger btn" rel="noopener noreferrer" target="_blank">View Dealer Location In Google Maps</a></p>
                    </div>
                    <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                      <p><%= link_to 'View Dealer Page and Inventory', userpage_path(:id => "#{i.id}", :name => "#{i.name.gsub(" ", "")}") , class: "btn btn-danger btn-xs", style: "border: #e20049", target: :_blank %></p>
                    </div>
                </div>