<%= form_for @listing, :html => {:multipart => true} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

     <p>
        <%= f.label :image %>
        <%= f.file_field :image %>   
    </p>


    <%= f.label :price, "Estimated Price" %>
    <%= f.text_field :price %>

    <p>
        <% if (current_user.role.eql? "premium") %>
            <%= f.label :wholesale %>    
            <%= f.select :wholesale, [true,false] %>
        <%end%>
    </p>

    <p>
        <%= f.label :category_id %>
        <%= f.select :category_id, Category.all.map{ |f| [f.name, f.id]} %>
    </p>

    <p>
        <%= f.label :subcategory_id %>
        <%= f.select :subcategory_id, options_for_select([]) %>   
    </p>

   
    <p>
        <%= f.label :year %>
        <%= f.select :year, (Time.zone.now.year - 50)..(Time.zone.now.year + 1), :selected => '2017' %>
    </p>

    <p>
        <%= f.label :transmission %>
        <%= f.select :transmission, ['Automanual','Automatic','Automatic 4 Speed','Automatic 5 Speed','Automatic 6 Speed','CVT','Manual'] %>
    </p>

    <p>
        <%= f.label :color, 'Exterior Color' %>
        <%= f.select :color, ['Unspecified','Beige','Black','Charcoal','Blue','Brown','Gold','Gray','Green','Orange','Pink','Purple','Red','Silver','Tan','Teal','White','Yellow', 'Other'] %>
    </p>

   <p>
        <%= f.label :interiorcolor, 'Interior Color' %>
        <%= f.select :interiorcolor, ['Unspecified','Beige','Black','Charcoal','Blue','Brown','Gold','Gray','Green','Orange','Pink','Purple','Red','Silver','Tan','Teal','White','Yellow', 'Other'] %>
    </p>
    <p>
        <%= f.label :cylinder %>
        <%= f.select :cylinder, ['1-cylinder','2-cylinder','3-cylinder','4-cylinder','5-cylinder','6-cylinder','8-cylinder','10-cylinder','12-cylinder','V6','I4'] %>
    </p>

    <p>
        <%= f.label :drive %>
        <%= f.select :drive, ['4X2/2 wheel drive','4X4/4 wheel drive','AWD','FWD','RWD'] %>
    </p>

    <p>
        <%= f.label :fuel %>
        <%= f.select :fuel, ['CNG','Diesel','E-85/Gasoline','Electric','Flex Fuel','Gasoline','Gasoline Hybrid','Not Applicable'] %>
    </p>

    <p>
        <%= f.label :newused,"New Or Used" %>
       <%= f.select :newused, ['U','N'] %>
    </p>

    
    <p>
        <%= f.label :miles %>
        <%= f.text_field :miles %>
    </p>


    <p>
        <%= f.label :stocknumber,"Stock Number" %>
        <%= f.text_field :stocknumber %>
    </p>

    <p>
        <%= f.label :model %>
        <%= f.text_field :model %>
    </p>

    <p>
        <%= f.label :trim %>
        <%= f.text_field :trim %>        
    </p>

    <p>
        <%= f.label :vin %>
        <%= f.text_field :vin %>        
    </p>

    <p>
        <%= f.label :enginedescription,"Engine Description" %>
        <%= f.text_field :enginedescription %>        
    </p>

    <p>
        <%= f.label :options %>
        <%= f.text_field :options %>        
    </p> 

    <p>
        <%= f.label :address %>
        <%= f.text_field :address %>
    </p>

    <p>
        <%= f.label :city %>
        <%= f.text_field :city %>
    </p>

    <p>
        <%= f.label :state %>
        <%= f.text_field :state %>
    </p>
    
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode, class: "zip-width",maxlength: "5" %>

        <%= f.submit class: "create-button" %>    

  <% end %>