<%= bootstrap_form_for @listing, :html => {:multipart => true} do |f| %>
        

    <%= f.text_field :vin, :label => "* VIN (Fill your vehicle VIN and click anywhere else to autofill)", :placeholder => "Use our VIN Decoder to autofill fields. Please confirm afterwards", :style => "color: #7C064D;" %>
    
    <div class="col-md-12 text-center" style = "margin-top: 1em;">
      <input class="btn btn-danger" id="hideshow" style="margin-top: 10px; margin-bottom: 10px;" type="button" value="WHERE TO FIND THE VIN ?"></input>
    </div>



    <div class = "togglediv">    
        <div class = "w3-panel w3-card-2">    
            <div class = "col-sm-12 col-md-12 col-lg-12">
                <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "text-align: left;">
                    <strong><p style = "font-size: 16px; color: #7C064D; margin-bottom: 20px; ">The VIN of your car can be found at:</p></strong>                
                    <ul>                    
                        <li>The dashboard on the driver's side of the vehicle.</li>
                        <li>The driver's side door post (where the door latches when it is closed).</li>
                        <li>The larger sticker the dealer has placed in vehicle window (It may be labeled Vehicle Identification Number)</li>
                        <li>Insurance card / Insurance policy</li>
                        <li>Vehicle title and registration</li>
                    </ul>
                </div>

                

                <div class = " col-xs-12 col-sm-12 col-md-12 col-lg-12" style = "overflow: hidden; ">
                    <hr>
                    
                        <img src="https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/VIN_Graphic.jpg" class="img-rounded" alt="Cinque Terre" width="90%" height="90%"> 
                    
                </div>

            </div>  
        </div>                  
    </div>


    
    <br>
    <hr>
    <br>
                
    
    <%= f.text_field :make , :style => "color: #7C064D;", :label => "MAKE" %>

    <%= f.text_field :model , :style => "color: #7C064D;" , :label => "MODEL"%>

    <%= f.select :year, (Time.zone.now.year - 50)..(Time.zone.now.year + 1), :selected => '2017' , :style => "color: #7C064D;", :label => "YEAR" %>

    <%= f.text_field :trim , :style => "color: #7C064D;", :label => "TRIM" %>

    <%= f.text_field :transmission , :style => "color: #7C064D;", :label => "TRANSMISSION" %>

    <%= f.text_field :enginedescription, :style => "color: #7C064D;", :label => "ENGINE DESCRIPTION" %>

    <%= f.text_field :miles , :style => "color: #7C064D;", :label => "MILES" %>


    <%= f.text_field :cylinder , :style => "color: #7C064D;", :label => "CYLINDER" %>

    
        
    <%= f.text_field :drive , :style => "color: #7C064D;", :label => "DRIVE" %>

    
        
    <%= f.text_field :fuel , :style => "color: #7C064D;", :label => "FUEL" %>

    <hr>    

    <%= f.select :category_id, ['4dr Hatchback', '2dr Hatchback', '2dr SUV', '4dr SUV', 'Cargo Minivan','Cargo Van','Convertible','Convertible SUV','Coup','Crew Cab Pickup','Extended Cab Pickup','Passenger Minivan', 'Passenger Van','Regular Cab Pickup','Sedan','Wagon'], :label => "BODY" , :style => "color: #7C064D;" %>

    <strong><p style = "font-size: 16px; color: #7C064D; margin-bottom: 20px; ">ENTER DESCRIPTION</p></strong>                

    <%= f.cktext_area :description, :label => "DESCRIBE YOUR CAR CONDITIONS", :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>    

    
    
    <%= f.file_field :image, :label => "PRIMARY IMAGE", :style => "color: #7C064D;" %>            
        
    <%= f.file_field :imagefront, :label => "FRONT IMAGE" , :style => "color: #7C064D;" %>
        
    <%= f.file_field :imageback, :label => "BACK IMAGE" , :style => "color: #7C064D;" %>
        
    <%= f.file_field :imageleft, :label => "LEFT IMAGE" , :style => "color: #7C064D;" %>
        
    <%= f.file_field :imageright, :label => "RIGHT IMAGE" , :style => "color: #7C064D;" %>
        
    <%= f.file_field :frontinterior, :label => "INTERIOR FRONT IMAGE" , :style => "color: #7C064D;" %>
    
    <%= f.file_field :rearinterior, :label => "INTERIOR BACK IMAGE", :style => "color: #7C064D;" %>
    

    <hr>

    <%= f.text_field :price, :label => "ENTER SUITABLE PRICE" , :style => "color: #7C064D;" %>

    
    
    <% if can_add_wholesale %>            
        <%= f.select :wholesale, [true,false], :label => "IS IT FOR WHOLESALE ONLY ?" , :style => "color: #7C064D;" %>
    <%end%>

            
    <%= f.select :color, ['Unspecified','Beige','Black','Charcoal','Blue','Brown','Gold','Gray','Green','Orange','Pink','Purple','Red','Silver','Tan','Teal','White','Yellow', 'Other'], :label => "EXTERIOR COLOR" , :style => "color: #7C064D;" %>

   
        
    <%= f.select :interiorcolor, ['Unspecified','Beige','Black','Charcoal','Blue','Brown','Gold','Gray','Green','Orange','Pink','Purple','Red','Silver','Tan','Teal','White','Yellow', 'Other'], :label => "INTERIOR COLOR" , :style => "color: #7C064D;" %>
    
            
            
    <%= f.select :newused, ['U','N'] , :style => "color: #7C064D;", :label => "NEW OR USED" %>

                     
   
    <%= f.text_field :stocknumber , :style => "color: #7C064D;", :label => "STOCK NUMBER" %>

    <% if can_add_wholesale %>      
    
    <strong><p style = "font-size: 16px; color: #7C064D; margin-bottom: 20px; ">DESCRIBE SELLER OPTIONS</p></strong>                

        <%= f.cktext_area :options, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>    
    <% end %>
    
    
    

    <%= f.submit "SUBMIT", class: "btn btn-danger" %>    

  <% end %>

