<h3 style = "color:#7C064D; text-align: center;"><strong>PREMIUM NEW CARS FOR SALE</strong></h3>

<div id = "boatlist">

  <% if @newcars.empty? %>
      <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center;">
        <p style ="margin: 10px;font-size: 20px; color: #e20049;">NO PREMIUM NEW CARS ADDED YET</p>
      </div>
  <% end %>


    <%- @newcars.each do |i| -%>          
            <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4" id = "cardiv">
              <div class="wrap">              
                <div class="card1"> 
                      <%= link_to i do %>

                      <!-- , target: :_blank  -->
                          <div class="slideshow-container" >

                            <%- if i.image.present? -%>                            
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                <img src=<%= i.image if i.image.present? %> style="width:100%; height: 100%;">
                              </div>
                            </div>                                                                                    
                            <% else %>                              
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                  </div>
                              </div>
                            <% end %>

                          

                            <%- if i.imagefront.present? -%>                            
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <img src=<%= i.imagefront if i.imagefront.present? %> style="width:100%; height: 100%;">
                                </div>
                            </div>
                            <% else %>                              
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                  </div>
                              </div>
                            <% end %>



                            <%- if i.imageback.present? -%>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <img src=<%= i.imageback if i.imageback.present? %> style="width:100%; height: 180 px;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>


                            <%- if i.imageleft.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <img src=<%= i.imageleft  if i.imageleft.present? %> style="width:100%; height: 100%;">
                                </div>
                              </div>
                            <% else %>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                </div>
                              </div>
                            <% end %>


                            <%- if i.imageright.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <img src=<%= i.imageright if i.imageright.present? %> style="width:100%; height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>



                            <%- if i.frontinterior.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <img src=<%= i.frontinterior  if i.frontinterior.present? %> style="width:100%; height: 100%;">
                                  </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>


                            <%- if i.rearinterior.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                  <img src=<%= i.rearinterior.url(:thumb)  if i.rearinterior.present? %> style="width:100%; height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:100%; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>
                                                     


                            <a class="prev">&#10094;</a>
                            <a class="next">&#10095;</a>
                              

                            <div style="text-align:center; ">                              

                                <span class="dot"></span>                                    
                                <span class="dot"></span>                               
                                <span class="dot" ></span>                               
                                <span class="dot" ></span>                               
                                <span class="dot"></span>                               
                                <span class="dot"></span>                               
                                <span class="dot"></span>
                               
                            </div>

                          </div> 

                      <% end  %>
                      <div class="description">
                          <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12"> 
                            <div class="row">
                              <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">                                 

                              <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12"> 
                                <p style ="margin: 1px;font-size: 0.9em; color: #7C064D;" ><span class="glyphicon glyphicon-fire"></span></span> <%= i.title.upcase if i.title %></p> 
                              </div>                             

                                <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">

                                  <p style ="margin: 1px; font-size: 0.8em; color: #F00000; ">Price: $ <%= i.price if i.price %></p> 

                                  <p style ="margin: 1px; font-size: 0.7em; color: #F00000; ">Location: <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= i.city.capitalize if i.city %> <%= i.state.capitalize if i.state %></p>
                                </div>
                                
                                <!-- <div id ="ribbon">
                                          <div id="txt">
                                            <%= distance_of_time_in_words(i.updated_at, Time.now).split(' ')[-2] %>
                                             <%= distance_of_time_in_words(i.updated_at, Time.now).split(' ')[-1] %>

                                          </div>
                                      </div> -->

                              </div>                  
                            </div>
                          </div>
                      </div>                                             
                </div>                            
              </div>
            </div>
    <% end %> 
</div>
