<% if @user != nil %>
	<div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "text-align: center; padding: 10px;font-size: 0.8em;background: #fff; box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.22);border-radius: 1px; ">
		

		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px; ">
			<div class ="sortinglink" id="newest"><%= link_to 'SORT BY NEWEST', :sort => 'created_at', :direction => 'desc', :id => @user.slug  %> </div>       
		</div>


		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px;">
			<div class ="sortinglink" id="oldest"><%= link_to ' SORT BY OLDEST', :sort => 'created_at',:direction => 'asc', :id => @user.slug  %></div>
		</div>	

		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px;">
			<div id="highest-price" class ="sortinglink"><%= link_to 'SORT BY HIGHEST PRICE', :sort => 'price', :direction => 'desc', :id => @user.slug  %></div>
		</div>
		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px;">
			       <div id="lowest-price" class ="sortinglink"><%= link_to 'SORT BY LOWEST PRICE', :sort => 'price', :direction => 'asc', :id => @user.slug %></div>
		</div>
	</div>
<% else %>
	<div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "text-align: center; padding: 10px;font-size: 0.8em;background: #fff; box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.22);border-radius: 1px; ">
		

		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px; ">
			<div class ="sortinglink" id="newest"><%= link_to 'SORT BY NEWEST', :sort => 'created_at', :direction => 'desc'%> </div>       
		</div>


		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px;">
			<div class ="sortinglink" id="oldest"><%= link_to ' SORT BY OLDEST', :sort => 'created_at',:direction => 'asc' %></div>
		</div>	

		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px;">
			<div id="highest-price" class ="sortinglink"><%= link_to 'SORT BY HIGHEST PRICE', :sort => 'price', :direction => 'desc' %></div>
		</div>
		<div class= "col-sm-3 col-lg-3 col-md-3" style = " padding: 5px;">
			       <div id="lowest-price" class ="sortinglink"><%= link_to 'SORT BY LOWEST PRICE', :sort => 'price', :direction => 'asc'%></div>
		</div>
	</div>
<% end %>
