<%= javascript_include_tag 'listings.js' %>

<div class="container2">
  <div id="contact-area">
  <h1 style = "text-align: center; margin: 5px 5px">
    ENTER INDIVIDUAL CAR DETAILS
    </h1>

    <%= render "listings/form" %>
    
    <p>
       <% if current_user.role.eql? "premium" %>
            <hr />
            <h1 style = "text-align: center; margin: 5px 5px">
              OR 
            </h1>                        
            <br>

            <h1 style = "text-align: center; margin: 5px 5px">
              USE OUR BULK UPLOAD SERVICE BELOW
            </h1>            
            <hr />
            <br>
              <%= render "listings/csvdirection" %>

            <hr />
            <br>
                <%= form_tag import_listings_path, multipart: true do %>               
                    <%= label_tag("Upload You File") %>
                    <%= file_field_tag :file  %>                
                    <%= submit_tag "Import", class: "create-button2" %>
                <% end %>
        <% end %>

     </p>
  </div>
</div>

