 <div class = "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "padding: 0px; margin: 0px; background-color: white;">
  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "background: #F00000; padding: 20px;">
    <h3 style = "color:#fff; text-align: center;"><strong>Make: <%= params[:category] if params[:category] %> - Model: <%= params[:subcategory] if params[:subcategory] %> - Min Price: $ <%= params[:minprice] if params[:minprice]  %> - Max Price: $ <%= params[:maxprice] if params[:maxprice] %></strong></h3>
  </div>

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "background: #fff; color: white; box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.22); padding: 2px;">
      <%= render "listings/sharedsortinglinks_with_filters" %>
  </div>


  <div id = "container2">

    <div class= "col-xs-6 col-sm-6 col-md-6 col-lg-4" id = "leftdiv" style = "background: white; padding: 20px; max-height: 80vh; overflow-y: scroll; overflow-x: hidden;" > 

      <h3 style = "color:#7C064D; text-align: center;"><strong>FILTERS</strong></h3>

      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer"  style = "-webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">
        <%= render "categories/search" %>      
        <hr> 
      </div>

      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>BODY TYPE</strong></h3>

          <%- @listings_bodytype.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:bodytype => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

        
       <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>CITIES</strong></h3>

          
            <%- @listings_cities.each do |key, value| -%>
              <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:city => "#{key}"))), {:class => "btn btn-danger another"} %>
            <% end %>
          
          
                          
      </div>

       <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>STATE</strong></h3>

          <%-@listings_states.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:state => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

       <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>TRANSMISSION</strong></h3>

          <%- @listings_transmission.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:transmission => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

       <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>NEW & USED</strong></h3>

          <%- @listings_newused.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:newused => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>CYLINDER</strong></h3>

          <%- @listings_cylinder.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:cylinder => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
           
      </div>

      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>FUEL</strong></h3>

          <%- @listings_fuel.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:fuel => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>DRIVE</strong></h3>

          <%- @listings_drive.each do |key, value| -%>
            <%= link_to "#{key.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:drive => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id = "searchboxcontainer2" style = " margin-top: 2em; -webkit-box-shadow: 1px 1px 2px 2px #ccc; -moz-box-shadow: 1px 1px 2px 2px #ccc; box-shadow: 1px 1px 2px 2px #ccc;  padding: 5px;">   

          <h3 style = "color:#7C064D; text-align: center;"><strong>YEAR</strong></h3>

          <%- @listings_year.each do |key, value| -%>
            <%= link_to "#{key.to_s.upcase if key} (#{value})" , search_listings_path(params.merge(filters: @current_filters.merge(:year => "#{key}"))), {:class => "btn btn-danger another"} %>
          <% end %>
          
                          
      </div>

     
    </div>  

    <div class= "col-xs-6 col-sm-6 col-md-6 col-lg-8" id = "rightdiv" style = "background: white; padding: 20px; max-height: 80vh; overflow-y: scroll; overflow-x: hidden; " >

      <h3 style = "color:#7C064D; text-align: center;"><strong>SEARCH RESULTS</strong></h3>

     
        <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">        

          <h5 style = "color:#E00000; text-align: left;"><strong>APPLIED FILTERS</strong></h5>

              <% @current_filters.each do |key, value| %>  

                <% if value != ""  %>
                   
                   <%= link_to search_listings_path(params.merge(filters: @current_filters.except(key))), {:class => "btn btn-danger applied"}  do %>
                   <%= value.upcase if value %> <span class="badge">X</span>
                   <% end %>
                <% end %>

              <% end %>

        </div>



      


      <div id = "boatlist">

        <% if@listings.empty? %>
            <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center;">
              <p style ="margin: 10px;font-size: 20px; color: #e20049;">NO CARS FOUND! PLEASE CHANGE SEARCH PARAMETERS</p>
            </div>
        <% end %>


          <%- @listings.each do |i| -%>          
                  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-4" id = "cardiv">
                    <div class="wrap">              
                      <div class="card1"> 
                            <%= link_to i do %>

                            <!-- , target: :_blank  -->
                        <% if i.external_url == false %>
                          <div class="slideshow-container" >

                            <%- if i.image.present? -%>                            
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                <img src=<%= i.image if i.image.present? %> style="max-width:100%; max-height: 100%;">
                              </div>
                            </div>                                                                                    
                            <% else %>                              
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                              </div>
                            <% end %>

                          

                            <%- if i.imagefront.present? -%>                            
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.imagefront if i.imagefront.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                            </div>
                            <% else %>                              
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                              </div>
                            <% end %>



                            <%- if i.imageback.present? -%>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.imageback if i.imageback.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>


                            <%- if i.imageleft.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.imageleft  if i.imageleft.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                </div>
                              </div>
                            <% end %>


                            <%- if i.imageright.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.imageright if i.imageright.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>



                            <%- if i.frontinterior.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.frontinterior  if i.frontinterior.present? %> style="max-width:100%; max-height: 100%;">
                                  </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>


                            <%- if i.rearinterior.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.rearinterior.url(:thumb)  if i.rearinterior.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>
                                                     


                            <a class="prev">&#10094;</a>
                            <a class="next">&#10095;</a>
                              

                            <div style="text-align:center; ">                              

                                <span class="dot"></span>                                    
                                <span class="dot"></span>                               
                                <span class="dot" ></span>                               
                                <span class="dot" ></span>                               
                                <span class="dot"></span>                               
                                <span class="dot"></span>                               
                                <span class="dot"></span>
                               
                            </div>

                          </div> 
                      <% else %>
                          <div class="slideshow-container" >

                            <%- if i.external_image.present? -%>                            
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                <img src=<%= i.external_image if i.external_image.present? %> style="max-width:100%; max-height: 100%;">
                              </div>
                            </div>                                                                                    
                            <% else %>                              
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                              </div>
                            <% end %>

                          

                            <%- if i.external_imagefront.present? -%>                            
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.external_imagefront if i.external_imagefront.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                            </div>
                            <% else %>                              
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                              </div>
                            <% end %>



                            <%- if i.external_imageback.present? -%>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.external_imageback if i.external_imageback.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>


                            <%- if i.external_imageleft.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.external_imageleft  if i.external_imageleft.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                </div>
                              </div>
                            <% end %>


                            <%- if i.external_imageright.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.external_imageright if i.external_imageright.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>



                            <%- if i.external_frontinterior.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.external_frontinterior  if i.external_frontinterior.present? %> style="max-width:100%; max-height: 100%;">
                                  </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>


                            <%- if i.external_rearinterior.present? -%>  
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.external_rearinterior  if i.external_rearinterior.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>
                                                     


                            <a class="prev">&#10094;</a>
                            <a class="next">&#10095;</a>
                              

                            <div style="text-align:center; ">                              

                                <span class="dot"></span>                                    
                                <span class="dot"></span>                               
                                <span class="dot" ></span>                               
                                <span class="dot" ></span>                               
                                <span class="dot"></span>                               
                                <span class="dot"></span>                               
                                <span class="dot"></span>
                               
                            </div>

                          </div> 
                      <% end %>

                            <% end  %>
                            <div class="description">
                          <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12"> 
                            <div class="row">
                              <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">                                 

                              <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12"> 
                                <p style ="margin: 1px;font-size: 0.9em; color: #7C064D;" ><span class="glyphicon glyphicon-fire"></span></span> <%= i.title.upcase if i.title %></p> 
                              </div>                             

                                <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">

                                  <p style ="margin: 1px; font-size: 0.8em; color: #F00000; ">Price: $ <%= i.price if i.price %></p> 

                                  <p style ="margin: 1px; font-size: 0.7em; color: #F00000; ">Location: <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= i.city.capitalize if i.city %> <%= i.state.capitalize if i.state %></p>
                                </div>
                                
                                <!-- <div id ="ribbon">
                                          <div id="txt">
                                            <%= distance_of_time_in_words(i.updated_at, Time.now).split(' ')[-2] %>
                                             <%= distance_of_time_in_words(i.updated_at, Time.now).split(' ')[-1] %>

                                          </div>
                                      </div> -->

                              </div>                  
                            </div>
                          </div>
                      </div>                                              
                      </div>                            
                    </div>
                  </div>
          <% end %> 
      </div>

    </div>

  </div>
</div>

<script>

// document.addEventListener("DOMContentLoaded", function(event) {
//     console.log("DOM fully loaded and parsed");
//   });

$(function() {


  
  init(); //on page load - call the function show first slide, hide the rest

  function init() {

    document.getElementById("defaultOpen1").click(); //this is for divs in tab to show boats first
    

    parents = document.getElementsByClassName('slideshow-container'); //get all the div slideshowcontainer and store as parent array
    
//    console.log(parents.length); //total number of slideshow containers

    for (j = 0; j < parents.length; j++) { //Go in a loop for all the divs slideshow-container      
      var slides = parents[j].getElementsByClassName("mySlides"); //
      //console.log(slides);

      var dots = parents[j].getElementsByClassName("dot");      
      slides[0].classList.add('active-slide');
      dots[0].classList.add('active');
      // console.log(slides[0]);
    }
  }





    dots = document.getElementsByClassName('dot'); //dots functionality

    for (i = 0; i < dots.length; i++) {

      dots[i].onclick = function() {

        slides = this.parentNode.parentNode.getElementsByClassName("mySlides");

        for (j = 0; j < this.parentNode.children.length; j++) {
          this.parentNode.children[j].classList.remove('active');
          slides[j].classList.remove('active-slide');
          if (this.parentNode.children[j] == this) {
            index = j;
          }
        }
        this.classList.add('active');
        slides[index].classList.add('active-slide');

      }
    }

//prev/next functionality
  links = document.querySelectorAll('.slideshow-container a');

  for (i = 0; i < links.length; i++) {
    // console.log("here1");

    links[i].onclick = function() {
      current = this.parentNode;
      // console.log("here2");

      var slides = current.getElementsByClassName("mySlides");
      var dots = current.getElementsByClassName("dot");
      curr_slide = current.getElementsByClassName('active-slide')[0];
      curr_dot = current.getElementsByClassName('active')[0];
      curr_slide.classList.remove('active-slide');
      curr_dot.classList.remove('active');

      if (this.className == 'next') {

        console.log("here3");

        // console.log(curr_slide.nextElementSibling);

        if (curr_slide.nextElementSibling) {
          curr_slide.nextElementSibling.classList.add('active-slide');
          curr_dot.nextElementSibling.classList.add('active');
          console.log("here4");
        } else {
          slides[0].classList.add('active-slide');
          dots[0].classList.add('active');
          console.log("here5");
        }

      }

      if (this.className == 'prev') {

        if (curr_slide.previousElementSibling) {
          curr_slide.previousElementSibling.classList.add('active-slide');
          curr_dot.previousElementSibling.classList.add('active');
        } else {
          slides[slides.length - 1].classList.add('active-slide');
          dots[slides.length - 1].classList.add('active');
        }

      }

    }

  }
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = slider.value;

  slider.oninput = function() {
    output.innerHTML = this.value;
  }  

});





</script>
