<div class="container">
<div class="center-column" id="right-center-column2" >
  <h1>SEARCH RESULTS</h1> 

   <div class="row">
       <div class="newest"><%= link_to 'Newest', :sort => 'created_at', :direction => 'desc' %>        
        
       </div>
       <div class="oldest"><%= link_to 'oldest', :sort => 'created_at',:direction => 'asc'  %></div>
       <div class="highest-price"><%= link_to 'highest-price', :sort => 'price', :direction => 'desc'  %></div>
       <div class="lowest-price"><%= link_to 'lowest-price', :sort => 'price', :direction => 'asc' %></div>
   </div>
</div>


<div class="center-column" id="right-center-column2" >
  <% if @listings.present? %>
    <% @listings.each do |listing| %>

      <div id = "listingsdescsmall">
          <%= link_to listing do %>
               <p>                  
                  <% if listing.image_url.present? %> 
                    <%= image_tag listing.image.to_s if listing.image_url.present? %> 
                  <% else %>
                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures.png", :alt => "want a car buy a car") %>
                  <% end %>
                
                  
                   <%= listing.title %> - (<%= listing.city %>, <%= listing.state %>, Price $ <%= listing.price %>)                                   
              </p>
          <% end %>
        </div> 
  <% end %>
  <% else %>
  <p> No listings found</p>
  <% end %>  
</div>

