<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @listing.title if @listing.title %> for sale in <%= @listing.city %> | www.wantacarbuyacar.com" />
    <meta property="og:type" content="Page" />        
    <meta property="og:description" content="<%= @listing.title if @listing.title %> for sale at <%= @user.name if @user.name %> for $<%= @listing.price if @listing.price %>. View now on www.wantacarbuyacar.com" />
    <meta property="og:url" content="<%= listing_path(@listing) %>" />
    <meta property="og:image:all" content="Want A Car Buy A Car" />

    
    <% if @listing.external_url %>
        <% if @listing.external_image %>
            <%= tag :meta, property: 'og:image', content: "#{ @listing.external_image}" %>
        <% end %>      
    <% else %>
        <% if @listing.image %>
          <%= tag :meta, property: 'og:image', content: "#{ @listing.image.url}" %>      
        <% end %>
    <% end %>

    
<% end %>



  <% if @user.role ==  "BASIC USER" %>
    <%= render 'listings/basic_user'%>
  <% elsif @user.role ==  "BASIC DEALER" %>
    <%= render 'listings/basic_dealer'%>
  <% elsif @user.role ==  "SILVER DEALER" %>
    <%= render 'listings/silver_dealer'%>
  <% elsif @user.role ==  "GOLD DEALER" %>
    <%= render 'listings/gold_dealer'%>
  <% elsif @user.role ==  "DIAMOND DEALER" %>
    <%= render 'listings/diamond_dealer'%>
  <% else %>
    <%= render 'listings/basic_user'%>
  <% end %>

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12 text-center" style = "background-color: rgba(0,0,0,0); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 8px 0 rgba(0, 0, 0, 0.5); padding: 1px 0px 1px 0px; margin: 2px auto;  ">

    <h1 style = "color:#7C064D; text-align: center;"><strong>OUR AFFILIATES</strong></h1>

      <%= render "categories/ads" %>       
  </div>
