<div class="parent" >
 
  <div class="center-column" id ="whitebackground">   
    <h1 style ="margin: 10px auto; color: #ffc000"><%= @listing.title.to_s.upcase %> </h1>     
 <div id = "listingsdesc">
 
    <p>       
      <% if @listing.image_url.present? %> 
        <%= image_tag @listing.image.to_s if @listing.image_url.present? %>
      <% else %>
        <%= image_tag("nopictures.png", :alt => "want a car buy a car") %>
      <% end %>
        
    </p>

  </div>

    
    
  </div>

  <div class="center-column" id ="whitebackground">
  <h1 style ="margin: 10px auto; color: #ffc000">DESCRIPTION</h1> 
     <h2>
      <%=  @listing.description.to_s.upcase %>
      </h2>
      <p style="font-size: 20px; margin-top: -10px;">
      <br>        
        <%= " Year: #{@listing.year}" %>
        <br>   
        <%=  "Miles: #{@listing.miles}" %>
        <br>        
        <%=  "Transmission: #{@listing.transmission}" %>
        <br>        
        <%=  "Color: #{@listing.color}" %>
        <br>        
        <%=  "Cylinder: #{@listing.cylinder}" %>
        <br>        
        <%=  "Fuel Type: #{@listing.fuel}" %>
        <br>        
        <%=  "Drive: #{@listing.drive}" %>           
        <br>        
        <%= "Estimated Price $: #{ @listing.price}" %> 
        <br>        
        <%= "New Or Used: #{ @listing.NewUsed}" %>             
        <br>        
        <%= "Stock Number: #{ @listing.StockNumber}" %>             
        <br>        
        <%= "Model: #{ @listing.Model}" %>             
        <br>        
        <%= "Trim: #{ @listing.Trim}" %>             
        <br>        
        <%= "Enginer Description: #{ @listing.EnginerDescription}" %>        <br>        
        <%= "Interior Color: #{ @listing.InteriorColor}" %>
        <br>        
        <%= "Options: #{ @listing.Options}" %>
        <br>        
        <%= "Car Location: #{ @listing.full_address}" %>       
      </p>  


       <% if @listing.user.eql? current_user %>
        <p><%= link_to 'edit', edit_listing_path %></p>
        <p><%= link_to 'delete', @listing, data: {confirm: "Wait! Are you sure ?"}, method: :delete %></p>
      <% end %>
  </div>


<div class="center-column" id="right-center-column2" >
       
      
      <% if @listings.present? %>
          <h1>OTHER LISTINGS BY SAME USER</h1>
          <% @listings.each do |mylisting| %>                      
              <% if  mylisting.id != @listing.id %>
                <div id = "listingsdescsmall">                
                  <%= link_to mylisting do %>
                      <p style="font-size: 30px; margin-top: -10px;">
                          
                          <% if mylisting.image_url.present? %> 
                            <%= image_tag mylisting.image.to_s if mylisting.image_url.present? %> 
                          <% else %>
                            <%= image_tag("nopictures.png", :alt => "want a car buy a car") %>
                          <% end %>
                        
                          
                            <%= mylisting.title %> - (<%= mylisting.city %>, <%= mylisting.state %>, Price $: <%= mylisting.price %>,
                    <%= mylisting.created_at.strftime('%B %d, %Y') %>  )                                   
                      </p>
                  <% end %>
                </div>
              <% end %>      
          <% end %>
      <% end %>
  
</div>

<div class="center-column" id="right-center-column2" >
     <!-- <button type="button">reply</button> -->
     <h1>USER INFO</h1>     
     <br>      
     <% if @listing.user != nil %>  
       <% if @listing.user.email != nil %>  
        <p style="font-size: 30px; margin-top: -10px;"><%= "Contact Person:  #{@listing.user.email}" %></p>
        <% end %>

        <% if @listing.user.role != nil %>
          <p style="font-size: 30px; margin-top: -10px;"><%= "User Type:  #{@listing.user.role}" %></p>
          <% else %>
          <p style="font-size: 30px; margin-top: -10px;">User Type: Private Owner</p>
        <% end %>


          <% if @listing.user.website != nil %>               
            <p style="font-size: 30px; margin-top: -10px;"><a href = <%= "http://#{@listing.user.website}" %> > Visit Their Website</a></p>        
          <% end %>
      <% end %>

      <p style="font-size: 30px; margin-top: -10px;">posted <%=  "#{time_ago_in_words(@listing.created_at)} ago" %></p>    
      <p style="font-size: 30px; margin-top: -10px;">updated <%=  "#{time_ago_in_words(@listing.updated_at)} ago" %></p>        
    
</div>


</div>

