<div class="parent" >


 <div class ="col-lg-6  col-sm-12 text-center ">
    <div class ="w3-panel w3-card-2 ">
        
          <h1 style ="margin: 0px auto; color: #FF3232"><%= @listing.title.to_s.upcase %> </h1>  
                  
            <p>       
              <% if @listing.image_url.present? %> 
                <%= image_tag (@listing.image.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p>

            <p style="font-size: 15px; color:#FF3232;margin-top: -15px;margin-bottom: 2px;"><strong>Posted <%=  "#{time_ago_in_words(@listing.created_at)} ago" %></strong></p>    

             <%= social_share_button_tag( @listing.title , :url => @listing_path, :image => @listing.image_url , desc: "#{@listing.description} : $ #{@listing.price}" ) %>          

    </div>


    <div class ="w3-panel w3-card-2 ">
       <!-- <button type="button">reply</button> -->
       <h1 style ="margin: 0px auto; color: #FF3232">USER INFO</h1>     
       <br>      
       <% if @listing.user != nil %>  
         <% if @listing.user.email != nil %>  
          <p style="font-size: 15px; margin-top: -10px;"><strong><%= "Contact Person:  #{@listing.user.email}" %></strong></p>
          <% end %>

          <% if @listing.user.role != nil %>
            <p style="font-size: 15px; margin-top: -20px;"><strong><%= "User Type:  #{@listing.user.role}" %></strong></p>
            <% else %>
            <p style="font-size: 15px; margin-top: -20px;"><strong>User Type: Private Owner</strong></p>
          <% end %>

          <% if @listing.user.website != nil %>               
            <p style="font-size: 15px; margin-top: -20px;"><strong><a href = <%= "#{@listing.user.website}" %> > Visit Their Website</a></strong></p>        
          <% end %>
        <% end %>

        
    </div>




  </div>


<div class ="col-lg-6  col-sm-12 text-center ">
  <div class ="w3-panel w3-card-2 ">
      
        <h1 style ="margin: 0px auto; color: #FF3232">DESCRIPTION</h1> 
           <h2 style ="color: #FF3232">
            <%=  @listing.description.to_s.upcase %>
            </h2>
        
          <table class="tg">
          <tr>
              <td class="tg-yw4l" style ="color: #FF3232"><strong>Estimated Price:</strong></td>
              <td class="tg-yw4l" style ="color: #FF3232"><strong>$<%= "#{ @listing.price}" %></strong> </td>
            </tr>
            <tr>
              <td class="tg-yw4l" ><strong>Year:</strong></td>
              <th class="tg-yw4l"><strong><%= " #{@listing.year}" %></strong></th>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Miles:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{@listing.miles}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Transmission:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{@listing.transmission}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Color:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{@listing.color}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Cylinder:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{@listing.cylinder}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Fuel Type:</strong></td>
              <td class="tg-yw4l"><strong><%=  "#{@listing.fuel}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Drive:</strong></td>
              <td class="tg-yw4l"><strong><%=  "#{@listing.drive}" %></strong></td>
            </tr>            
            <tr>
              <td class="tg-yw4l"><strong>New Or Used:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.newused}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Stock Number:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.stocknumber}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Model:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.model}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Trim:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.trim}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>VIN:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.vin}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Enginer Description:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.enginedescription}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Interior Color:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.interiorcolor}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Options:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.options}" %></strong></td>
            </tr>
            <tr>
              <td class="tg-yw4l"><strong>Car Location:</strong></td>
              <td class="tg-yw4l"><strong><%= "#{ @listing.full_address}" %></strong></td>
            </tr>
          </table>


            <% if @listing.user.eql? current_user %>
              <p><%= link_to 'EDIT', edit_listing_path, class: "btn btn-default", style: "text-decoration: none;" %></p>
              <p><%= link_to 'DELETE', @listing, data: {confirm: "Wait! Are you sure ?"}, method: :delete, class: "btn btn-default", style: "text-decoration: none;" %></p>
            <% end %>
           
        
  </div>
</div>
 
<div class ="col-lg-6  col-sm-12 text-center ">
  <div class ="w3-panel w3-card-2 ">
       <!-- <button type="button">reply</button> -->
       <h1 style ="margin: 0px auto; color: #FF3232">VEHICLE IMAGES</h1>   

       <h2 style ="margin: 5% auto;">FRONT </h2>  
                  
            <p>       
              <% if @listing.imagefront.present? %> 
                <%= image_tag (@listing.imagefront.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p>

        <h2 style ="margin: 5% auto;">BACK</h2>  
                  
            <p>       
              <% if @listing.imageback.present? %> 
                <%= image_tag (@listing.imageback.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p>
            
         <h2 style ="margin: 5% auto;">LEFT</h2>  
                  
            <p>       
              <% if @listing.imageleft.present? %> 
                <%= image_tag (@listing.imageleft.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p>
            
         <h2 style ="margin: 5% auto;">RIGHT</h2>  
                  
            <p>       
              <% if @listing.imageright.present? %> 
                <%= image_tag (@listing.imageright.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p>            
          <h2 style ="margin: 5% auto;">FRONT INTERIOR</h2>  
                  
            <p>       
              <% if @listing.frontinterior.present? %> 
                <%= image_tag (@listing.frontinterior.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p> 
         <h2 style ="margin: 5% auto;">REAR INTERIOR</h2>  
                  
            <p>       
              <% if @listing.rearinterior.present? %> 
                <%= image_tag (@listing.rearinterior.url)%>
              <% else %>
                <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "Buy Used Car") %>
              <% end %>
                
            </p>      
       <br>      
            

  </div>
</div>

<div class ="col-lg-6  col-sm-12 text-center ">
  <div class ="w3-panel w3-card-2 ">
         
        
        <% if @listings.present? %>
            <h1 style ="margin: 0px auto; color: #FF3232">OTHER LISTINGS BY SAME USER</h1>
            <% @listings.each do |wlisting| %>                      
                <% if  wlisting.id != @listing.id %>
                  <div id = "listingsdescsmall">                
                    <%= link_to wlisting do %>
                        <p style="margin-top: -10px;">
                  <% if wlisting.image_url.present? %> 
                      <%= image_tag wlisting.image.url(:thumb) if wlisting.image_url.present? %> 
                      <br>
                  <% else %>
                      <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures1.png", :alt => "want a car buy a car: Buy Used Cars") %>
                  <% end %>                            
                    Price $: <%= wlisting.price %>                                  
                </p>
                

                <br> 

                <p style = "margin-top: 1px; color: #A9A9A9; font-size: 13px;"><%= wlisting.city %> - <%= wlisting.state %>  
                </p>

                 <div id ="ribbon">
                      <div id="txt">
                        <%= distance_of_time_in_words(wlisting.updated_at, Time.now).split(' ')[-2] %>
                         <%= distance_of_time_in_words(wlisting.updated_at, Time.now).split(' ')[-1] %>

                      </div>
                  </div>          

                    <% end %>
                  </div>
                <% end %>      
            <% end %>
        <% end %>
    
  </div>
</div>



</div>

