<%= content_for(:meta_og) do %>
    <meta property="og:title" content="Check out <%= @user.name if @user.name %> | www.wantacarbuyacar.com" />
    <meta property="og:type" content="Page" />        
    <meta property="og:description" content="<%= @user.name if @user.name %> | <%= @user.websiteheader if @user.websiteheader %> | <%= @user.websitedescription if @user.websitedescription %> | View more on www.wantacarbuyacar.com " />
    <meta property="og:url" content="<%= userpage_path(:id => "#{@user.slug}") %>" />
    <meta property="og:image:alt" content="Want A Car Buy A Car" />
    <% if @user.logoimage %>
        <%= tag :meta, property: 'og:image', content: "#{ @user.logoimage.url}" %>
    <% end %>
<% end %>


<!-- Dealer Homepage -->
<div class ="headerdiv"  id = "herodiv"  style = "padding: 10px; overflow: hidden;
  <%- if @user.backgroundimage.present? -%>background: url(<%= @user.backgroundimage.url %>);box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);<% else %>background: #51BCFF;<% end %>background-repeat: no-repeat; background-size:cover; background-position: center; text-align:  center; padding: 10em 5em;" > 


  <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12" style = "background-color: rgba(<%=  @user.textbackgroundcolor %>, 0.8); box-shadow: 0 2px 6px 0 rgba(<%=  @user.textbackgroundcolor %>, 0.3), 0 3px 8px 0 rgba(<%=  @user.textbackgroundcolor %>, 0.3); padding: 20px 0px 1px 0px; margin: 2px auto;  ">
    <%- if @user.logoimage.present? -%>
      <%= image_tag @user.logoimage.url, :class => "style_image", :style=> "max-height: 35%; max-width: 35%; margin: auto; border: 2px solid #{@user.textcolor if @user.textcolor};" %> 
      <br>
    <% else %>                
      <h1 style = "margin-top: 1%; color: <%= @user.textcolor %>; font-size: 200%;display:inline-block; ">
        <%= @user.name.upcase if @user.name %>
      </h1>  
      <br>
    <% end %>  
    
     
    <h1 style = "color: <%= @user.textcolor %>; margin: 1em 0;display:inline-block; ">      
      <strong><%= @user.websiteheader.upcase if @user.websiteheader %></strong>
    </h1>
    <br>
    <h3 style = "color: <%= @user.textcolor %>; margin: 1em 0;display:inline-block; ">      
      <%= @user.websitesubheader.upcase if @user.websitesubheader %>
    </h3>
     <br>
    <h3 style = "color: <%= @user.textcolor %>; background-color: rgba(0,0,0,0,5);margin: 1em 0;display:inline-block; ">      
      GOOD CREDIT - BAD CREDIT - NO CREDIT 
    </h3>
    <br>

    <h2 style = "color: <%= @user.textcolor %>; margin: 1em 0;display:inline-block; "><strong>EVERYBODY GETS APPROVED!</strong></h2>

  </div>


</div>

<div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center; margin-top: 20px;">

    <% if @user.logoimage.present? %>
      <%= social_share_button_tag @user.name, :image => "#{@user.logoimage}", desc: @user.name %>
    <% else %>
      <%= social_share_button_tag @user.name, :image => "//s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/TDC.png", desc: @user.name %>
    <% end %>
</div>

<%= render :partial => 'listings/user_badges', :locals => { :user => @user }%>

<div class="col-sm-12 col-md-12 col-lg-12 text-center" style = "background-color: #fff; padding: 12px;">  

                  <% if @user.role ==  "BASIC DEALER" %>
                    <%= render :partial => 'listings/basic_dealer_info', :locals => { :i => @user } %>
                  <% elsif @user.role ==  "SILVER DEALER" %>
                    <%= render :partial => 'listings/silver_dealer_info', :locals => { :i => @user } %>
                  <% elsif @user.role ==  "GOLD DEALER" %>
                    <%= render :partial => 'listings/gold_dealer_info', :locals => { :i => @user } %>
                  <% elsif @user.role ==  "DIAMOND DEALER" %>
                    <%= render :partial => 'listings/diamond_dealer_info', :locals => { :i => @user } %> 
                  <% elsif @user.role ==  "SILVER REPAIRSHOP"%>  
                    <%= render :partial => 'listings/silver_dealer_info', :locals => { :i => @user } %>
                  <% else %>
                    <%= render :partial => 'listings/basic_dealer_info', :locals => { :i => @user }%>
                  <% end %>                               
</div>


<% if @user.role !=  "BASIC DEALER" and @user.role !=  "BASIC USER" and @user.role !=  "BASIC REPAIRSHOP"  %>
  <div class="col-sm-12 col-md-12 col-lg-12 text-center" style = "background-color: #fff; padding: 12px;"> 

            <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                        <h1 style = "color:#7C064D; text-align: center;"> <strong>
                          ABOUT US</strong>
                        </h1>
                      </div>  

                      <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
                        <% if @user.websitedescription %>
                          <p style = "display: inline;"><%= @user.websitedescription.upcase %></p>
                        <% else %>
                          <p style = "display: inline;">Has not been filled in by dealership yet. If this is your business, please contact us to fill in this section. Sales@TDCDigitalMedia.com</p>
                        <% end %>
                      </div> 

          </div>

          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <ul class="list-unstyled" style = "text-align:center; font-size: 10px;">
                    <li><h1 style = "color:#7C064D; text-align: center;"><strong>HOURS OF OPERATION</strong></h1></li>
                    
                    <% @times.each do |time|%>
                      <li><p style = "color:black; text-align: center;"> <%= time.day.upcase %> : <%= time.start_time.strftime("%I:%M%p") %> -  <%= time.end_time.strftime("%I:%M%p") %> 

                      <%- if user_is_webpage_owner(@user.id) -%>             

                        <%= link_to "EDIT", edit_user_timetable_path(@user, time), class: "btn btn-primary btn-xs" %>

                        <%= link_to "DELETE", user_timetable_path(@user, time), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-primary btn-xs" %>
                        
                      <% end %>

                      
                      </p> </li>            


                    <% end %> 

                    <%- if user_is_webpage_owner(@user.id) -%> 

                        <li><h3><%= link_to 'Add A Day', new_user_timetable_path(@user, @timetable), class: "btn btn-primary btn-xs" %></h3></li>
                     
                    <% end %>
                  </ul>
          </div>


  </div>

<% end %>



<% if !user_is_webpage_owner(@user.id) %>
    <div class="col-xs-12" style = "background-color: #fff; padding: 12px;">
                  <hr>
                      <h1 style = "color:#7C064D; text-align: center;"><strong>CONTACT US TODAY</strong></h1>               

                      <div class="col-sm-12 text-center" style = " padding: 0px; overflow-y: scroll; height: 700px;">                              
                        <%= render 'inquiries/form' %>
                      </div>

                      <div class = "col-sm-12 col-md-12 col-lg-12 text-center" style = "background-color: white;">
                              <p style = "color:grey; font-size: 80%; padding: 2px 10%; text-align: center;"> By clicking here, you authorize Wantacarbuyacar.com and its sellers/partners to contact you by texts/calls which may include marketing and be by autodialer. Calls may be pre-recorded. You also agree to our Privacy Statement. Consent is not required to purchase goods/services.</p>
                      </div>
                      
                  
                  <br>
    </div>

<% end %>

<% if  owner_is_sales_team(@user) %>

    <div class="col-xs-12 " style = "background-color: #fff; padding: 12px;">                      
                  <hr>
                      <h1 style = "color:#7C064D; text-align: center;"><strong>SEND NEW LEAD</strong></h1>               

                      <div class="col-sm-12 text-center" style = " padding: 0px; overflow-y: scroll; height: 700px;">                              
                        <%= render 'inquiries/sales_form' %>
                      </div>

                    
                      
                  
                  <br>
    </div>

<% end %>


<% if user_is_webpage_owner(@user.id) or current_user_is_sales_team and !owner_is_sales_team(@user) %>

  <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style = "background-color: #fff; padding: 12px; height: 90%; overflow-y: scroll; overflow-x: scroll;"> 
    <hr>
    <h1 style = "color:#7C064D; text-align: center;"><strong>LEADS AND INQUIRIES</strong></h1>

    <% if !@inquiries %>
      <h4 style = "color:#7C064D; text-align: center;"><strong>No Inquiries or Leads Yet</strong></h4>        
    <% else %>
      <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style = "background-color: #fff; padding: 12px; height: 60vh; overflow-y: scroll; overflow-x: scroll;">

      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th>
              LEADS ID
            </th>
            <th>
              EMAIL
            </th>
            <th>
             FIRST NAME
            </th>
            <th> 
              LAST NAME
            </th>            
              <th>
                PHONE
              </th>            
            <th>
              SUBJECT
            </th>
            <th>
              CUSTOMER NOTE
            </th>
            <th>
              REFERRED BY
            </th>
            <th>
              SENT AT
            </th> 
            <th>
              LEAD STATUS
            </th>             
             <th>
              EDIT STATUS
            </th>  
            <th>
              ACTION
            </th> 
            <th>
             SALES/DEALER NOTES
            </th>   
            <% if current_user_is_sales_team %>   
              <th>
              SENT TO ALL
              </th> 
              <th>
                SEND TO ALL
              </th>
            <% else %>
              <th>
                HOT LEAD
              </th> 
            <% end %>

          </tr>
        </thead>

        <tbody>        
          <div id = "dialog">
                  <% @inquiries.each do |inquiry| %>
                    <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
                      <tr>                      
                          <td>
                            <%= inquiry.id %>
                          </td>
                          <td>
                            <%= inquiry.from_email %>
                          </td>
                          <td>
                            <%= inquiry.first_name %>
                          </td>
                          <td>
                            <%= inquiry.last_name %>
                          </td>                          
                            <td>
                             <%= inquiry.phone %>
                            </td>                          
                          <td>
                            <%= inquiry.subject %>
                          </td>
                          <td>
                            <%= inquiry.comment %>
                          </td>
                          <td>
                            <%= inquiry.referredby %>
                          </td>
                          <td>
                           <%= inquiry.created_at %>
                          </td>
                          <td>
                            <%= render "inquiries/inquiry_status_buttons", :inquiry => inquiry %>
                          </td>


                          <%= form_for (inquiry) do |f| %>

                              <%= hidden_field_tag :parent_id, @parent.id  %>    
                              <%= hidden_field_tag :parent_type, @parent.class.name  %>
                              <td>
                                <% if user_is_webpage_owner(@user.id) %>
                                      <%= f.select :status, Inquiry.statuses.except(:DONOTCALL, :ONHOLD).keys.map{|x| x.upcase}, {:label => "Change Lead Stage"} %>
                                <% end %>
                                <% if current_user_is_sales_team  %>                    
                                   <%= f.select :status, Inquiry.statuses.keys.map{|x| x.upcase}, {:label => "Change Lead Stage"} %>
                                <% end %> 
                              </td>

                              <td>
                                <%= f.submit "Update Inquiry", class: "btn btn-danger"  %>
                              </td>
                          <% end %>

                          <td>
                              <div class = "overlayparent">

                                <div class="overlay">
                                  <div class="text">
                                      <%= render "notes/inquiry_notes", inquiry: inquiry  %>
                                  </div>
                                  

                                  <button onclick="off(this)" type="button" class = "btn btn-danger"><span class="badge">X</span></button>
                                </div>     

                                <div>                        
                                  <button onclick="on(this)" type="button" class = "btn btn-primary">View/Add notes <span class="badge"><%= inquiry.notes.count %></span></button>
                                </div>                        
                              </div>
                          </td>

                          <% if current_user_is_sales_team %> 
                            <td>
                             <%= render "inquiries/inquiry_send_to_all_status", :inquiry => inquiry %>
                            </td>
                            <td>                 
                              <%= link_to "SEND TO ALL", send_to_all_inquiry_path(inquiry, :parent_id => @user.id, :parent_type => 'User'), class: "btn  btn-primary"  %>
                            </td>
                          <% else %>
                            <td>
                             <%= render "inquiries/hotleads", :inquiry => inquiry %>
                            </td>
                          <% end %>
                      </tr> 
                    </div>  

                  <% end %>
          </div>
        </tbody>
      </table>
      </div>
    <% end %>
    <hr>
  </div>
<% end %>


<% unless owner_is_sales_team(@user) %>

  <% if @user.user_has_listings %>

    <%= render 'listings/listings_dashboard' %>

  <% end %>


  <br><hr><br>

  <% if @user.user_has_repairshops %>
   
   <%= render 'repairshops/repairshop_dashboard' %>

  <% end %>

<% end %>

<script>
function on(clickedElement) {
    clickedElement.parentElement.parentElement.getElementsByClassName("overlay")[0].style.display = "block";
    // clickedElement.parentElement.parentElement.style.display = "block";
}

function off(clickedElement) {
    clickedElement.parentElement.parentElement.getElementsByClassName("overlay")[0].style.display = "none";
}




  
      $("#financing")        
        .click(function(){                       
            //var txt = $('textarea#inquiry_comment.form_control').text(); 
            txt = $('#inquiry_comment').val();
            $('#inquiry_comment').val(txt+" I Need Financing.");
        });

        $("#500down")        
        .click(function(){                       
            //var txt = $('textarea#inquiry_comment.form_control').text(); 
            txt = $('#inquiry_comment').val();
            $('#inquiry_comment').val(txt+" I have atleast $500 for down-payment.");
        });

        $("#prefertext")        
        .click(function(){                       
            //var txt = $('textarea#inquiry_comment.form_control').text(); 
            txt = $('#inquiry_comment').val();
            $('#inquiry_comment').val(txt+" I prefer text contact.");
        });

        $("#bkprogram")        
        .click(function(){                       
            //var txt = $('textarea#inquiry_comment.form_control').text(); 
            txt = $('#inquiry_comment').val();
            $('#inquiry_comment').val(txt+" I am a BK Program Customer.");
        });

                
           
            

// $(document).on('ready page:load', function() {
//     var REFRESH_INTERVAL_IN_MILLIS = 5000;
//      // if ($('.f-pending-message').length > 0) {
//        setTimeout(function(){
//         //disable page scrolling to top after loading page content
//         Turbolinks.enableTransitionCache(true);

//         console.log("called")

//         //pass current page url to visit method
//         Turbolinks.visit(location.toString());

//         //enable page scroll reset in case user clicks other link
//         Turbolinks.enableTransitionCache(false);
//          }, REFRESH_INTERVAL_IN_MILLIS);
//     // }
// });
</script>