<div class ="headerdiv text-center" id = "herodivcontact">

<%= image_tag("wacbac2.png", :alt => "rss feed", :size => "350x120", :style => "margin: 5em auto; padding: 1px") %>
  

  <h1 style = "color: white; margin:1em ;vertical-align:middle;"><strong>JOIN OUR EXPANDING NETWORK OF DEALERSHIPS AND REPAIRSHOPS</strong></h1>



<div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center; margin-top: 20px;">


  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" style = " padding: 10px; margin: 2px 0px; background-color: rgba(255,255,255,1);">
  
      <div class="col-md-12 text-center" style = "margin-top: 1em;">
          <input class="btn btn-danger" id="hideshow" style="margin-top: 10px; margin-bottom: 10px;" type="button" value="VIEW OUR PACKAGES"></input>   
          <hr>       
    </div>

    <div class = "togglediv">  
     <%= render 'pages/packages'%>    
    </div>

    

    
      <div class = "col-sm-12 col-md-12 col-lg-6 col-xs-12 text-center">
           <%= render 'pages/brief'%> 
          
      </div>    

  		<div class = "col-sm-12 col-md-12 col-lg-6 col-xs-12 text-center" style = "background-color: white; color:black; padding: 0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: #51BCFF; color:white;">
            <h2><strong>To get started, call (866) 338-7870 or fill out the form below</strong></h2>
          </div>
          <div class = "col-sm-12 col-md-12 col-lg-12" style = "background-color: white; color:black;">
    			 <%= render 'new_dealer_contacts/form' %>
          </div>
  		</div>  	

      <div class = "col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center" style = "background-color: #51BCFF; color:white; padding: 0px; margin: 1em 0em;">
          <h2><strong>Try Our Add On Services And Increase Your Sales Today</strong></h2>
          
           <%= render 'pages/features'%> 
      </div>  	

  </div>


</div>



</div>

<script>
$(document).ready(function(){
  $('#hideshow').on('click', function(event){
    $('.togglediv').toggle('show');

     $('html,body').animate({scrollTop: $(".togglediv").offset().top},'slow');
  });

  $('#hideshow2').on('click', function(event){
    $('.togglediv2').toggle('show');    
  });

  $('.togglediv').toggle('hide');
  $('.togglediv2').toggle('hide');
  

});
</script>