<h1 style = "color:#7C064D; text-align: center;"><strong>PARTS AND SERVICES</strong></h1>

<div id = "boatlist">

  <% if @repairshops.empty? %>
      <div class = "col-sm-12 col-md-12 col-lg-12" style = "text-align: center;">
        <p style ="margin: 10px;font-size: 20px; color: #e20049;">NO PARTS AND SERVICES ADDED YET</p>
      </div>
  <% end %>


    <%- @repairshops.each do |i| -%>          
            <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-4" id = "cardiv">
              <div class="wrap">              
                <div class="card1"> 
                      <%= link_to i do %>

                      <!-- , target: :_blank  -->
                          <div class="slideshow-container" >

                            <%- if i.image.present? -%>
                              <div class="mySlides" id = "otherpage">
                                <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                  <img src=<%= i.image if i.image.present? %> style="max-width:100%; max-height: 100%;">
                                </div>
                              </div>                                                                                    
                            <% else %>
                                <div class="mySlides" id = "otherpage">
                                  <div class = "w3-panel w3-card-2" style = "padding: 10px; height: 180px;">
                                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/wacbaclogo1.png", :alt => "Want a Car buy A Car| Cars For Sale | Used Cars | Repair Shops", :style=> "width:auto; height: 100%;") %>
                                  </div>
                                </div>
                            <% end %>
                           

                            <a class="prev">&#10094;</a>
                            <a class="next">&#10095;</a>
                              

                            <div style="text-align:center; ">                              

                                <span class="dot"></span>                                                                    
                               
                            </div>

                          </div> 

                      <% end  %>
                      <div class="description">
                            <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12"> 
                              <div class="row">
                                <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">                                 

                                <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12"> 
                                  <p style ="margin: 1px;font-size: 0.9em; color: #7C064D;"><span class="glyphicon glyphicon-fire"></span> <%= i.title.upcase if i.title %></p> 
                                </div>                             

                                  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12">
                                    
                                    <p style ="margin: 1px; font-size: 0.8em; color: #F00000;">Location: <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= i.city.capitalize if i.city %> <%= i.state.capitalize if i.state %></p>
                                  </div>                                                               
                                </div>                  
                              </div>
                            </div>
                        </div>                                            
                </div>                            
              </div>
            </div>
    <% end %> 
</div>






<script>

// document.addEventListener("DOMContentLoaded", function(event) {
//     console.log("DOM fully loaded and parsed");
//   });

(function() {

  init(); //on page load - call the function show first slide, hide the rest

  function init() {

    // This is to intialize with active slides and dot
    // document.getElementById("sharedsort").scrollIntoView();
    // document.getElementById("defaultOpen").click(); //this is for divs in tab to show boats first
    // document.getElementById("defaultOpen1").click(); //this is for divs in search



    parents = document.getElementsByClassName('slideshow-container'); //get all the div slideshowcontainer and store as parent array
    
//    console.log(parents.length); //total number of slideshow containers

    for (j = 0; j < parents.length; j++) { //Go in a loop for all the divs slideshow-container      
      var slides = parents[j].getElementsByClassName("mySlides"); //
      //console.log(slides);

      var dots = parents[j].getElementsByClassName("dot");      
      slides[0].classList.add('active-slide');
      dots[0].classList.add('active');
      // console.log(slides[0]);
    }
  }





    dots = document.getElementsByClassName('dot'); //dots functionality

    for (i = 0; i < dots.length; i++) {

      dots[i].onclick = function() {

        slides = this.parentNode.parentNode.getElementsByClassName("mySlides");

        for (j = 0; j < this.parentNode.children.length; j++) {
          this.parentNode.children[j].classList.remove('active');
          slides[j].classList.remove('active-slide');
          if (this.parentNode.children[j] == this) {
            index = j;
          }
        }
        this.classList.add('active');
        slides[index].classList.add('active-slide');

      }
    }

//prev/next functionality
  links = document.querySelectorAll('.slideshow-container a');

  for (i = 0; i < links.length; i++) {
    // console.log("here1");

    links[i].onclick = function() {
      current = this.parentNode;
      // console.log("here2");

      var slides = current.getElementsByClassName("mySlides");
      var dots = current.getElementsByClassName("dot");
      curr_slide = current.getElementsByClassName('active-slide')[0];
      curr_dot = current.getElementsByClassName('active')[0];
      curr_slide.classList.remove('active-slide');
      curr_dot.classList.remove('active');

      if (this.className == 'next') {

        console.log("here3");

        // console.log(curr_slide.nextElementSibling);

        if (curr_slide.nextElementSibling) {
          curr_slide.nextElementSibling.classList.add('active-slide');
          curr_dot.nextElementSibling.classList.add('active');
          console.log("here4");
        } else {
          slides[0].classList.add('active-slide');
          dots[0].classList.add('active');
          console.log("here5");
        }

      }

      if (this.className == 'prev') {

        if (curr_slide.previousElementSibling) {
          curr_slide.previousElementSibling.classList.add('active-slide');
          curr_dot.previousElementSibling.classList.add('active');
        } else {
          slides[slides.length - 1].classList.add('active-slide');
          dots[slides.length - 1].classList.add('active');
        }

      }

    }

  }
})(jQuery);

</script>