<%= content_for(:meta_og) do %>
    <meta property="og:title" content="<%= @repairshop.title if @repairshop.title %> | www.wantacarbuyacar.com" />
    <meta property="og:type" content="Page" />        
    <meta property="og:description" content="Check out <%= @repairshop.title if @repairshop.title %> in <%= @repairshop.city if @repairshop.city %> for your vehicle repair and servicing needs. View more on www.wantacarbuyacar.com" />
    <meta property="og:url" content="<%= repairshop_path(@repairshop) %>" />
    <meta property="og:image:all" content="Want A Car Buy A Car" />

    <% if @repairshop.image %>
        <%= tag :meta, property: 'og:image', content: "#{ @repairshop.image.url}" %>
    <% end %>
<% end %>



  <% if @user.role ==  "BASIC REPAIRSHOP" %>
    <%= render 'repairshops/basic_repairshop'%>
  <% elsif @user.role ==  "SILVER REPAIRSHOP" %>
    <%= render 'repairshops/silver_repairshop'%>
  <% elsif @user.role ==  "SILVER DEALER" %>
    <%= render 'repairshops/silver_dealer'%>  
  <% elsif @user.role ==  "DIAMOND DEALER" %>
    <%= render 'repairshops/diamond_dealer'%>
  <% else %>
    <%= render 'repairshops/basic_repairshop'%>
  <% end %>

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12 text-center" style = "background-color: rgba(0,0,0,0); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 8px 0 rgba(0, 0, 0, 0.5); padding: 1px 0px 1px 0px; margin: 2px auto;  ">

    <h1 style = "color:#7C064D; text-align: center;"><strong>OUR AFFILIATES</strong></h1>

      <%= render "categories/ads" %>       
  </div>
