<div class="navbar navbar-default navbar-fixed-top" >        
        <ul>           
            <li><%=link_to 'POST A NEW LISTING', new_listing_path %></li>
            <li><a href="#" class= "disabled">/</a></li>   
            <li><%=link_to 'FIND OR ADD REPAIR SHOP', repairshops_path %></li>              
             <li><a href="#" class= "disabled">/</a></li>
             <li><a href="https://tranquil-shore-25457.herokuapp.com">CREATE YOUR WEBSITE</a></li>
             <li><a href="#" class= "disabled">/</a></li>
             <li><a href="https://evening-beach-65902.herokuapp.com/">AUCTION YOUR VEHICLE</a></li>
             <li><a href="#" class= "disabled">/</a></li>


                          
              <% if user_signed_in? %>
                <li><%= link_to 'YOUR ACCOUNT', edit_user_registration_path %></li>
                <li><a href="#" class= "disabled">/</a></li>             

                <li><%= link_to 'YOUR LISTINGS', mylistings_path %></li> 
                <li><a href="#" class= "disabled">/</a></li>

                
                
                <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>                                                                                       
               
              <% else %>
                
               <li><%= link_to 'SIGN IN', new_user_session_path %></li>
                <li><a href="#" class= "disabled">/</a></li>             
                <li><%= link_to 'SIGN UP', new_user_registration_path %></li>                

               
              <% end %>
        </ul>
  </div>