<% if @premiumlistings.present? %>    
  <div class="center-column" id="right-center-column2" >
    <h1>PREMIUM LISTINGS</h1>
          
        <% @premiumlistings.each do |wlisting| %>              
          <div id = "listingsdescsmall">                
            <%= link_to wlisting do %>
              <p style="margin-top: -10px;">
                <% if wlisting.image_url.present? %> 
                    <%= image_tag wlisting.image.url(:thumb) if wlisting.image_url.present? %> 

                <% else %>
                    <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/nopictures.png", :alt => "want a car buy a car") %>
                <% end %>                            
                  <%= wlisting.city %> <br><%= wlisting.state %> <br>Price: <%= wlisting.price %>                                   
              </p>
            <% end %>
          </div>                   
        <% end %>    
  </div>    
<% end %>
