<div class="searchbox">   
    <section class="formclass">
        <%= form_tag search_listings_path, method: :get do |f| %>
        <p>search for cars</p>        
        <%= text_field_tag :category, nil, placeholder: 'Category' %>
        <%= text_field_tag :minprice, nil, placeholder: 'Min Price' %> 
        <%= text_field_tag :maxprice, nil, placeholder: 'Max Price' %>
        <%= text_field_tag :location, nil, placeholder: 'Near' %>        
        <%= text_field_tag :NewUsed, nil, placeholder: 'New / Used' %>              
        <%= submit_tag 'Search' %>
      <% end %>    
    </section>
  </div>
