<% if user_signed_in? %> 
    <% if (current_user.role.eql? "premium") or (current_user.role.eql? "dealer") %>
      <div class="center-column" id="right-center-column2" >
        <h1>WHOLESALE LISTINGS</h1>
          <% if @wholesalelistings.present? %>        
              <% @wholesalelistings.each do |wlisting| %>              
                  <div id = "listingsdescsmall">                
                      <%= link_to wlisting do %>
                          <p style="font-size: 30px; margin-top: -10px;">
                              
                              <% if wlisting.image_url.present? %> 
                                <%= image_tag wlisting.image.to_s if wlisting.image_url.present? %> 
                              <% else %>
                                <%= image_tag("nopictures.png", :alt => "want a car buy a car") %>
                              <% end %>
                            
                                <%= wlisting.title %> - (<%= wlisting.city %>, <%= wlisting.state %>, Price: <%= wlisting.price %>, 
                                <%= wlisting.created_at.strftime('%B %d, %Y') %>  )                                   
                          </p>
                      <% end %>
                  </div>                   
              <% end %>
          <% end %>  
      </div>  
    <% end %>  
<% end %>