
<div class = "col-xs-12 col-sm-12 text-center herodiv" style = "box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        
    <%= image_tag("wacbac2.png", :alt => "rss feed", :size => "350x120", :style => "margin: 5em auto; padding: 1px") %>
  
  <h3 style = "margin-top: 0.1em; color: #fff;"> Buy or Sell Vehicles Near You</h3>      

    <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" id = "searchboxcontainer">

        <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>

        <div class= "col-xs-12 col-sm-12 col-md-8 col-lg-8" id = "searchboxes" >             
          <%= render "categories/search" %>   
        </div>

        <div class = "col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>
    </div>

</div>


<div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "background: #fff; color: white; box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.22); padding: 2px; border-radius: 1px; margin-top: 4px;">
    
</div>
<!-- 
<div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "background: #fff; color: white; box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.22); padding: 2px; border-radius: 1px; margin-top: 4px;">
    <%= render "listings/sharedsortinglinks" %>
</div> -->


<div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "background-color: #fff; padding: 0px;">

  <div class= "col-xs-12 col-sm-12 col-lg-8 col-md-12" >
 
      <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'used')" id="defaultOpen" >Premium Used Cars</button>
        <button class="tablinks" onclick="openCity(event, 'new')">Premium New Cars</button>  
        <% if can_view_wholesale %>
          <button class="tablinks" onclick="openCity(event, 'wholesale')">Wholesale Cars</button>  
        <% end %>
      </div>


      <div id="used" class="tabcontent">
             <%= render 'listings/usedcars'%>
      </div>

      <div id="new" class="tabcontent">
             <%= render 'listings/newcars'%>
      </div>

      <% if can_view_wholesale %>

        <div id="wholesale" class="tabcontent">
          <%= render 'listings/wholesalecars'%>
        </div>    
      <% end %>

  </div>

  

  <div class= "col-xs-12 col-sm-12 col-lg-4 col-md-12 hidden-xs hidden-sm hidden-md" id = "mapdiv" >
      <%= render "categories/listingmap" %>
  </div>



  

</div>

<div class = "row" style = "background-color: rgba(255,255,255,0.9);">
  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12  bodyandmake text-center" style = "background-color:  #F5F5F5; padding: 1px 0px 1px 0px; margin: 2px auto; min-height: 100px;" >

    <h3 style = "color:#7C064D; text-align: center;"><strong>SEARCH BY TYPE</strong></h3>

    <div class = "col-xs-12 col-sm-12 col-lg-4 col-md-12 text-center">
      <%=link_to 'Hatchback', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Hatchback&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
      <br>
      <%=link_to 'SUV', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=SUV&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
      <br>
      <%=link_to 'Van', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Van&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
    </div>
    <div class = "col-xs-12 col-sm-12 col-lg-4 col-md-12 text-center">
      <%=link_to 'Convertible', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Convertible&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
      <br>
      <%=link_to 'Coupe', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Coupe&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
      <br>
      <%=link_to 'Pickup', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Pickup&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
    </div>
    <div class = "col-xs-12 col-sm-12 col-lg-4 col-md-12 text-center">
      <%=link_to 'Sedan', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Sedan&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
      <br>
      <%=link_to 'Wagon', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Wagon&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
      <br>
      <%=link_to 'Truck', "/listings/bodysearch?utf8=✓&NewUsed=Used&bodytype=Truck&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
    </div>  

  </div>
</div>



<div class = "row" style = "background-color: rgba(255,255,255,0.9);">
  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12 bodyandmake text-center" style = "background-color:  #F8F8F8; padding: 1px 0px 1px 0px; margin: 0px auto; min-height: 200px; ">

    <h3 style = "color:#7C064D; text-align: center;"><strong>SEARCH BY MAKE</strong></h3>

      <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">      
        <% ["Acura", "Alfa Romeo", "Aston Martin", "Audi", "BMW"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

      <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Bentley", "Bugatti", "Buick", "Cadillac", "Chevrolet"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>
      <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Chrysler", "Daewoo", "Dodge", "Eagle", "FIAT"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>
      <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Ferrari", "Fisker", "Ford", "GMC", "Genesis", "Geo"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>     

      <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["HUMMER", "Honda", "Hyundai", "INFINITI", "Isuzu"].each do |i| %>        
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

       <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Jaguar", "Jeep", "Kia", "Lamborghini", "Land Rover"].each do |i| %>        
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

       <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Lexus", "Lincoln", "Lotus", "MINI", "Maserati"].each do |i| %>        
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

       <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Maybach", "Mazda", "McLaren", "Mercedes-Benz", "Mercury"].each do |i| %>        
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>




      <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Mitsubishi", "Nissan", "Oldsmobile", "Panoz", "Plymouth"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

        <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Pontiac", "Porsche", "Ram", "Rolls Royce", "Saab"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

        <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Saturn", "Scion", "Spyker", "Subaru", "Suzuki"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

        <div class = "col-xs-12 col-sm-12 col-lg-1 col-md-12 text-center">
        <% ["Tesla", "Toyota", "Volkswagen", "Volvo", "smart"].each do |i| %>
        <%= link_to "#{i}", "/listings/search?utf8=✓&NewUsed=Used&category=#{i}&minprice=&maxprice=&location=&radius=&commit=Search", target: "_blank" %>
        <br>
        <% end %>
      </div>

  </div>
</div>



<div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12 text-center" style = "background-color: rgba(0,0,0,0); box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 8px 0 rgba(0, 0, 0, 0.5); padding: 1px 0px 1px 0px; margin: 2px auto;  ">

    <h1 style = "color:#7C064D; text-align: center;"><strong>OUR PARTNERS</strong></h1>

      <%= render "categories/ads" %>       
  </div>





<script>

// document.addEventListener("DOMContentLoaded", function(event) {
//     console.log("DOM fully loaded and parsed");
//   });

(function() {

  init(); //on page load - call the function show first slide, hide the rest

  function init() {

    // This is to intialize with active slides and dot
    // document.getElementById("sharedsort").scrollIntoView();
    document.getElementById("defaultOpen").click(); //this is for divs in tab to show boats first
    document.getElementById("defaultOpen1").click(); //this is for divs in search



    parents = document.getElementsByClassName('slideshow-container'); //get all the div slideshowcontainer and store as parent array
    
//    console.log(parents.length); //total number of slideshow containers

    for (j = 0; j < parents.length; j++) { //Go in a loop for all the divs slideshow-container      
      var slides = parents[j].getElementsByClassName("mySlides"); //
      //console.log(slides);

      var dots = parents[j].getElementsByClassName("dot");      
      slides[0].classList.add('active-slide');
      dots[0].classList.add('active');
      // console.log(slides[0]);
    }
  }





    dots = document.getElementsByClassName('dot'); //dots functionality

    for (i = 0; i < dots.length; i++) {

      dots[i].onclick = function() {

        slides = this.parentNode.parentNode.getElementsByClassName("mySlides");

        for (j = 0; j < this.parentNode.children.length; j++) {
          this.parentNode.children[j].classList.remove('active');
          slides[j].classList.remove('active-slide');
          if (this.parentNode.children[j] == this) {
            index = j;
          }
        }
        this.classList.add('active');
        slides[index].classList.add('active-slide');

      }
    }

//prev/next functionality
  links = document.querySelectorAll('.slideshow-container a');

  for (i = 0; i < links.length; i++) {
    // console.log("here1");

    links[i].onclick = function() {
      current = this.parentNode;
      // console.log("here2");

      var slides = current.getElementsByClassName("mySlides");
      var dots = current.getElementsByClassName("dot");
      curr_slide = current.getElementsByClassName('active-slide')[0];
      curr_dot = current.getElementsByClassName('active')[0];
      curr_slide.classList.remove('active-slide');
      curr_dot.classList.remove('active');

      if (this.className == 'next') {

        console.log("here3");

        // console.log(curr_slide.nextElementSibling);

        if (curr_slide.nextElementSibling) {
          curr_slide.nextElementSibling.classList.add('active-slide');
          curr_dot.nextElementSibling.classList.add('active');
          console.log("here4");
        } else {
          slides[0].classList.add('active-slide');
          dots[0].classList.add('active');
          console.log("here5");
        }

      }

      if (this.className == 'prev') {

        if (curr_slide.previousElementSibling) {
          curr_slide.previousElementSibling.classList.add('active-slide');
          curr_dot.previousElementSibling.classList.add('active');
        } else {
          slides[slides.length - 1].classList.add('active-slide');
          dots[slides.length - 1].classList.add('active');
        }

      }

    }

  }
})(jQuery);

</script>
