<div class="container2">

<div class="footer2">

 <div class ="center">
    <%= image_tag("wacbac2.png", :alt => "rss feed", :size => "300x100") %>
    <%= link_to 'SELL YOUR CAR', new_listing_path, class: "btn btn-danger" %> 
    <h2>SEARCH FOR A VEHCILE</h2>
  </div>

  <%= render 'categories/search'%>

</div>

<%= render 'categories/premiumlisting'%>
<hr>
<%= render 'categories/wholesalelistings'%>

  <div class="parent">
    <div class="col-sm-12" id="right-center-column-full" >
      <h1> SEARCH BY CAR CATEGORY </h1>
      
      <div class = "centering">

        <div class= "col-md-2 col-sm-6" >    
          <table>
            <tr>
              <th class="table-header" style="text-align: center;" ><%= link_to image_tag("sedanscoupes.svg", size: "150x150", :alt => "Sedan Car for sale"), category_path(@sedan) %></th>
            </tr>            
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("minivans.svg", size: "200x200", :alt => "Vans for sale"), category_path(@van)  %></th>            
            </tr>         
          </table>
        </div> 

        <div class="col-md-2 col-sm-6" >
          <table>
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("coupe.svg", size: "200x200", :alt => "Coupe Car for sale") , category_path(@coupe) %></th>
            </tr>       
          </table>
          <table>
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("wagons.svg", size: "150x150", style: "margin-left: 15%;", :alt => "Used Wagons for sale" ), category_path(@wagon)  %></th>          
            </tr>       
          </table>
        </div>
        <div class="col-md-2 col-sm-6">
          <table>
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("convertible.svg", size: "150x150", :alt => "Buy Used Convertible Car" ) , category_path(@convertible) %></th>
            </tr>                  
              <tr>
                <th class="table-header" style="text-align: center;"><%= link_to image_tag("sportutilities.svg", size: "200x200", :alt => "Sell and Buy sports utilities Car"), category_path(@suv) %></th>
              </tr>        
            </table>                    
        </div>

        
         <div class="col-md-2 col-sm-6">
          <table>
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("sportscars.svg", size: "200x200", :alt => "Sell and Buy Car sportscar") , category_path(@sports) %></th>
            </tr>                  
              <tr>
                <th class="table-header" style="text-align: center;"><%= link_to image_tag("diesel.svg", size: "150x150", :alt => "Sell Used Diesel cars" ), category_path(@diesel) %></th>
              </tr>        
            </table>                    
        </div>

         <div class="col-md-2 col-sm-6" >
          <table>
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("crossover.svg", size: "150x150", :alt => "Buy Used Crossover cars" ) , category_path(@crossover) %></th>
            </tr>                  
              <tr>
                <th class="table-header" style="text-align: center;"><%= link_to image_tag("luxury.svg", size: "200x200", :alt => "Sell and Buy Luxury Cars"), category_path(@luxury) %></th>
              </tr>        
            </table>                    
        </div>

         <div class="col-md-2 col-sm-6" >
          <table>
            <tr>
              <th class="table-header" style="text-align: center;"><%= link_to image_tag("hatchback.svg", size: "200x200", :alt => "Sell and Buy HatchBack Car") , category_path(@hatchback) %></th>
            </tr>                 
              <tr>
                <th class="table-header" style="text-align: center;"><%= link_to image_tag("other.svg", size: "150x150", :alt => "All Cars for sale" ), category_path(@other) %></th>
              </tr>        
            </table>                    
        </div>
      </div>

    </div>

  </div>


  <div class = "parent">
    
    <%= render "categories/listingmap" %>
    

  </div>


</div>
