<div class="container">

<div class="footer">
<div class="navbar">        
        <ul>           
            <li><%=link_to 'POST A NEW LISTING', new_listing_path %></li>
            <li><a href="#" class= "disabled">/</a></li>    
             <li><%= link_to 'ABOUT US', about_path %></li>                                                     
             <li><a href="#" class= "disabled">/</a></li>


                          
              <% if user_signed_in? %>
                <li><%= link_to 'MY ACCOUNT', edit_user_registration_path %></li>
                <li><a href="#" class= "disabled">/</a></li>             

                <li><%= link_to 'MY LISTINGS', mylistings_path %></li> 
                <li><a href="#" class= "disabled">/</a></li>

                
                
                <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>                                                                                       
               
              <% else %>
                
               <li><%= link_to 'SIGN IN', new_user_session_path %></li>
                <li><a href="#" class= "disabled">/</a></li>             
                <li><%= link_to 'SIGN UP', new_user_registration_path %></li>                

               
              <% end %>
        </ul>
  </div>
 <div class ="center">
    <a href="#"><%= image_tag("wacbac2.png", :alt => "rss feed", :size => "300x100") %></a>

  </div>

  <div class="searchbox">   
    <section class="formclass">
        <%= form_tag search_listings_path, method: :get do |f| %>
        <p>search for cars</p>
        <%= text_field_tag :search, nil, placeholder: 'Search a car' %>
        <%= text_field_tag :price, nil, placeholder: 'Price' %> 
        <%= text_field_tag :location, nil, placeholder: 'Near' %>
        
        <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>        
        <%= submit_tag 'Search' %>
      <% end %>    
    </section>
  </div>

</div>

<hr />

<div class="parent">
  <div class="center-column" id="right-center-column-full" >
    <h1> SEARCH BY TYPE </h1>
    
    <div class = centering>
    <div class="center-one">    
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("sedanscoupes.svg", size: "150x150"), category_path(@sedan) %></th>
        </tr>         
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("minivans.svg", size: "200x200"), category_path(@van)  %></th>            
        </tr>         
      </table>
    </div> 

    <div class="center-two">
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("coupe.svg", size: "200x200") , category_path(@coupe) %></th>
        </tr>       
      </table>
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("wagons.svg", size: "150x150"), category_path(@wagon)  %></th>          
        </tr>       
      </table>
    </div>
    <div class="center-one">
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("convertible.svg", size: "150x150") , category_path(@convertible) %></th>
        </tr>        
      </table>
      
        <table>
          <tr>
            <th class="table-header"><%= link_to image_tag("sportutilities.svg", size: "200x200"), category_path(@suv) %></th>
          </tr>        
        </table>                    
    </div>


    
     <div class="center-two">
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("sportscars.svg", size: "200x200") , category_path(@sports) %></th>
        </tr>        
      </table>
      
        <table>
          <tr>
            <th class="table-header"><%= link_to image_tag("diesel.svg", size: "150x150"), category_path(@diesel) %></th>
          </tr>        
        </table>                    
    </div>

     <div class="center-one">
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("crossover.svg", size: "150x150") , category_path(@crossover) %></th>
        </tr>        
      </table>
      
        <table>
          <tr>
            <th class="table-header"><%= link_to image_tag("luxury.svg", size: "200x200"), category_path(@luxury) %></th>
          </tr>        
        </table>                    
    </div>

     <div class="center-two">
      <table>
        <tr>
          <th class="table-header"><%= link_to image_tag("hatchback.svg", size: "200x200") , category_path(@hatchback) %></th>
        </tr>        
      </table>
      
        <table>
          <tr>
            <th class="table-header"><%= link_to image_tag("other.svg", size: "150x150"), category_path(@other) %></th>
          </tr>        
        </table>                    
    </div>
    </div>



   

  </div>

  </div>


<hr>


  <div class = parent>

  
  <div class="center-column" id="right-center-column" >
    <h1>SEARCH BY LOCATION</h1>
    
    <div id="map"></div>
    <script>
      function initMap() {     
        //   converting instance variable to json data
        var json = <%= raw @listings.to_json %>;  


        //initialising map with center Washington DC  
        


        var mycenter = {lat: 38.922837, lng: -77.035511};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: mycenter,

          //adding style to the map
          styles: [{"featureType":"water","elementType":"all","stylers":[{"hue":"#7fc8ed"},{"saturation":55},{"lightness":-6},{"visibility":"on"}]},{"featureType":"water","elementType":"labels","stylers":[{"hue":"#7fc8ed"},{"saturation":55},{"lightness":-6},{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"hue":"#83cead"},{"saturation":1},{"lightness":-15},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"hue":"#f3f4f4"},{"saturation":-84},{"lightness":59},{"visibility":"on"}]},{"featureType":"landscape","elementType":"labels","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#ffffff"},{"saturation":-100},{"lightness":100},{"visibility":"on"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#bbbbbb"},{"saturation":-100},{"lightness":26},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"hue":"#ffcc00"},{"saturation":100},{"lightness":-35},{"visibility":"simplified"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"hue":"#ffcc00"},{"saturation":100},{"lightness":-22},{"visibility":"on"}]},{"featureType":"poi.school","elementType":"all","stylers":[{"hue":"#d7e4e4"},{"saturation":-60},{"lightness":23},{"visibility":"on"}]}]
        });

        //
        

        //adding markers from json data
        for (var i=0; i<json.length; i++){
          var data =  json[i];
          // var a = 360.0 / json.length;
          // var newLat = data.latitude + -.00004 * Math.cos((+a*i) / 180 * Math.PI);
          // var newLng = data.longitude + -.00004 * Math.sin((+a*i) / 180 * Math.PI);

          latLng = new google.maps.LatLng(data.latitude, data.longitude);

          var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            icon: "https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/car32.png",
            title: data.title          
          });

       
        (function(marker, data) {

          // Attaching a click event to the current marker
          google.maps.event.addListener(marker, "click", function(e) {
                var go_to = "/listings/" + data.id;
              //window.location.href = go_to;
                location.href = go_to;
          });

        })(marker, data);


        }
      }


    </script>

   <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2alMtLSazyRllBkXIJfitgKwvc9zxYTo&callback=initMap">
  </script>

  </div>

<div class="vr"></div>

<div class="center-column" >
      
      <h1>CAR REVIEWS</h1>
        <div class="center-image">      
            <%= image_tag("car5.jpg", size: "400x200", :class => "style_image" ) %>
            <h1>Mercedes E350 2016</h1>
            <p>Leaving sportiness to its rivals, the E-class caters to those who’d rather waft along in the lap of luxury. The quiet and supremely comfortable cabin features a 12.3-inch infotainment screen with both Apple CarPlay and Android Auto. The 241-hp 2.0-liter turbo four-cylinder provides adequate power and pairs with a nine-speed automatic with either rear- or all-wheel drive. 
            </p>
        </div>
      
    </div>


  </div>

  <hr />

  <% if user_signed_in? %> 
    <% if (current_user.role.eql? "premium") or (current_user.role.eql? "dealer") %>
      <div class="center-column" id="right-center-column2" >
      <h1>WHOLESALE LISTINGS</h1>
          <% if @wholesalelistings.present? %>        
              <% @wholesalelistings.each do |wlisting| %>              
                  <div id = "listingsdescsmall">                
                      <%= link_to wlisting do %>
                          <p style="font-size: 30px; margin-top: -10px;">
                              
                              <% if wlisting.image_url.present? %> 
                                <%= image_tag wlisting.image.to_s if wlisting.image_url.present? %> 
                              <% else %>
                                <%= image_tag("nopictures.png", :alt => "want a car buy a car") %>
                              <% end %>
                            
                                <%= wlisting.title %> - (<%= wlisting.city %>, <%= wlisting.state %>, Price: <%= wlisting.price %>, 
                                <%= wlisting.created_at.strftime('%B %d, %Y') %>  )                                   
                          </p>
                      <% end %>
                  </div>                   
              <% end %>
      <% end %>    
    <% end %>   
  </div>

<% end %>


</div>
