<%= bootstrap_form_for (@inquiry = Inquiry.new) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
     <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
        <%= f.text_field :first_name, :label => "First Name" %>
      </div>
      <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
        <%= f.text_field :last_name, :label => "Last Name" %>
      </div>     
   </div>   

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
    <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
      <%= f.text_field :from_email, :label => "Your Email" %>
    </div>
    <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
      <%= f.text_field :phone, :label => "Your Phone" %>
    </div>    
  </div> 

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
    <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
      <%= f.text_field :referredby, :label => "Referrer's Name" %>
    </div>        
  </div> 

  

    <%= f.hidden_field :to_email %>
    <%= hidden_field_tag :parent_id, @parent.id  %>    
    <%= hidden_field_tag :parent_type, @parent.class.name  %>    
   
  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
    <%= f.text_field :subject %>  
    <%= f.text_area :comment, :label => "Your Inquiry" %>
  </div>

    <%= f.submit "Send Message", class: "btn btn-danger"  %>
  
<% end %>

<!-- <script>
  (function (){

  })();

</script> -->
