<%= bootstrap_form_for (@inquiry = Inquiry.new) do |f| %>
  <% if @inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% @inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
      <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
            <%= f.text_field :first_name, :label => "First Name of Customer" %>
          </div>
          <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
            <%= f.text_field :last_name, :label => "Last Name of Customer" %>
          </div>
    <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
      <%= f.text_field :from_email, :label => "Customer Email(*)", :placeholder => "Necessary Field" %>
    </div>
    <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
      <%= f.text_field :phone, :label => "Customer Phone(*)", :placeholder => "Necessary Field" %>
    </div>    
    <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
      <%= f.text_field :referredby, :label => "Referred By" %>
    </div>          
    <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
      <%= f.text_field :subject %>  

    <div class="col-md-12 text-center" style = "margin-top: 1em;">
      <input class="btn btn-primary btn-xs" id="hideshowoffer" style="margin-top: 10px; margin-bottom: 10px;" type="button" value="MAKE OFFER"></input>
    </div>



    <div class = "toggledivoffer">    
      <div class="col-md-12 text-center">
        <%= f.text_field :offer, :label => "Add Your Offer" %> 
      </div>
    </div>   
      
      <%= f.text_area :comment, :size => "30x10", :label => "Customer Message" %>

        <div class="col-sm-12 text-center" style = " padding: 0px;">
            <button class="btn btn-success" id = "financing" type="button">Need Financing</button>
            <button class="btn btn-success" id = "500down" type="button">$500 Down</button>
            <button class="btn btn-success" id = "1000down" type="button">$1000 Down</button>
            <button class="btn btn-success" id = "prefertext" type="button">Prefer Text</button>
            <button class="btn btn-success" id = "bkprogram" type="button">BK Program customer</button>
            <button class="btn btn-success" id = "bhphprogram" type="button">BHPH Program customer</button>
        </div>


      <%= label_tag '','CHOOSE WHOM TO SEND THIS LEAD'  %>
    </div>
    
    <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12" style = "margin: auto;">
      <% User.all_emails_for_send_all.each do |dealer| %>
         <div class= "col-xs-6 col-sm-6 col-lg-6 col-md-6" style = "margin: auto;">
            <%= check_box_tag 'dealers[]', dealer -%>
            <%= h dealer -%>
          </div>  
        <% end %>
        
   <div class= "col-xs-12 col-sm-12 col-lg-12 col-md-12 text-center">
      <div class="g-recaptcha" data-sitekey= <%= ENV["GOOGLE_RECAPTCHA_SITEKEY"] %> style = "display: inline-block;"></div>
    </div>
      
    </div>  



        <%= hidden_field_tag :parent_id, @parent.id  %>    
        <%= hidden_field_tag :parent_type, @parent.class.name  %>    

       <%= f.submit "Send Message", class: "btn btn-danger"  %>
      
  </div> 


<% end %>

<script>
 $(document).ready(function(){

  $('.toggledivoffer').toggle('hide');

    $('#hideshowoffer').on('click', function(event) {        
         $('.toggledivoffer').toggle('show');
    });

  });

</script>
