<div class="container" id = "custom">    	
  <div class="row2">
    <div class="col-lg-12 col-sm-12">
      <div class="col-md-3 col-sm-12">
        <ul class="list-unstyled" style = "text-align:center;">
          <li><%= link_to "TDC Digital Media", "http://www.tdcdigitalmedia.com" %><li>
          <li><%= link_to "About us", about_path %></li>          
          <li><%= link_to "Scams", scams_path %></li>                  
          <li><%= link_to "Policy", policy_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
        </ul>
      </div>


      <div class="col-md-3 col-sm-12">
        <ul class="list-unstyled" style = "text-align:center;">
          <li><%= link_to "THE DEALERS CHOICE", "http://the-dealers-choice.com" %><li>
          <li><a href="https://fierce-sea-43472.herokuapp.com/">Want A Car Buy A Car</a></li>
          <li><a href="https://tranquil-shore-25457.herokuapp.com">TDC Website Builder</a></li>
          <li><a href="https://evening-beach-65902.herokuapp.com/">TDC Auction App</a></li>          
          <li><a href="">Dealer Campaign Manager</a></li>              
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul class="list-unstyled" style = "text-align:center;">
          <li>Services<li>
          <li><a href="#">App Development</a></li>
          <li><a href="#">Web Marketing</a></li>
          <li><a href="#">SEO</a></li>
          <li><a href="#">Career</a></li>              
        </ul>
      </div>
      <div class="col-md-3 col-sm-12">
        <ul class="list-unstyled" style = "text-align:center;">
          <li>Documentation<li>
          <li><a href="#">Product Help</a></li>
          <li><a href="#">Developer API</a></li>
          <li><a href="#">Product Markdown</a></li>
          <li><a href="#">Product Pages</a></li>              
        </ul>
        
        <ul class="social" style= "list-style-type: none; text-align: center; ">
			     <li> <a href="//www.facebook.com/WantaDealGetaDeal/"> <i class=" fa fa-facebook"></i> </a> </li>
			     <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
            <li> <a href="#"> <i class="fa fa-google-plus"></i> </a> </li>
            <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>            
		    </ul>

      </div>  
    </div>
  </div>
  <hr style = "width:100%; height:1px; background: #fff; margin-top: 5px; ">
  <div class="row2">
    <div class="col-lg-12">
      <div class="col-md-8" >
        <%= link_to "Terms of Service", terms_path, style:"color: #fff; font-size: 10px;" %> -        
        <%= link_to "Safety", safety_path, style:"color: #fff; font-size: 10px;" %>        
      </div>
      <div class="col-md-4" style="color: #fff">
        <p class="muted pull-right" style = "font-size: 10px;">© <%= Time.now.year %> TDC DIGITAL MEDIA. All rights reserved</p>
      </div>
    </div>
  </div>
</div>