<div class = "container2" >
<nav class="navbar navbar-default navbar-static-top" role="navigation" style = "margin-bottom: 0px;padding-right: 10px;">

  <div class="container-fluid">    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-left" >
        <li>          
          <%= link_to image_tag("wacbac2.png", :alt => "rss feed", :size => "45x45",:style => "display: block; max-width:140px; max-height:70px; width: auto; height: auto; margin-bottom: 2px;margin-top: -2px;float:left"), root_path, class: "logolink" %>

        </li>
      </ul>



      <ul class="nav navbar-nav navbar-right" id = "navcontents">        
        <li>
          <%=link_to 'USED CARS', usedcars_path %>
        </li>
        <li>
          <%=link_to 'NEW CARS', newcars_path %>
        </li>
        <li>
          <%=link_to 'DEALER CORNER', repairshops_path %>
        </li>
        <li>
          <%=link_to 'FIND OR ADD REPAIR SHOP', repairshops_path %>
        </li>
        <!-- <li>
          <a href="https://tranquil-shore-25457.herokuapp.com">CREATE YOUR WEBSITE</a>
        </li>         -->
        <li>
          <a href="https://evening-beach-65902.herokuapp.com/">AUCTION YOUR VEHICLE</a>
        </li>   
        <li>
            <%= link_to "PREMIUM PLAN", root_path %>
        </li>                
        
         
             
        <% if current_user %>                     
          <li><%= link_to 'YOUR LISTINGS', mylistings_path %></li>           
          <li>
            <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
          </li>          
        <% else %>
          <li>
            <%= link_to "SIGN IN", new_user_session_path %>
          </li>          
        <% end %>                         
      </ul>
    </div>
  </div>
</nav>
</div>