<nav class="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background: #e53c35;">
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>

      <ul class="nav navbar-nav navbar-left">
        <li>
          <%= image_tag("https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/TDCsmaller.jpg", :alt => "Want A Car Buy A Car", :size => "40x40") %>          
        </li>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">      
         <ul class="nav navbar-nav navbar-right">        
         <li>
          <%= link_to 'HOME', root_path %>     
         </li>
         <li>
          <%= link_to 'SELL MY VEHICLE', new_listing_path %>     
         </li>
         <li>
          <%=link_to 'ALL DEALERSHIPS', "/listings/dealer_search?utf8=%E2%9C%93&keywords=&location=&radius=&commit=Search" %>
        </li> 
         <li>
          <%=link_to 'REPAIR SHOPS', repairshops_path %>
        </li>
        <li>
          <%=link_to 'SPECIAL OFFERS', allcoupons_path %>
        </li>                          
        <!-- <li>
          <a href="https://tranquil-shore-25457.herokuapp.com">CREATE MY WEBSITE</a>
        </li>         -->
       <!--  <li>
          <a href="//tdcautoauction.com/">AUCTION MY VEHICLE</a>
        </li> -->   
        <!-- <li>
            <%= link_to "ALL OFFERS", root_path %>
        </li>  -->          

        <!-- <li>
          <%=link_to 'PRICING', pricing_path %>
        </li>   -->                                 
              
        <% if current_user %>                

          <% if current_user.user_has_both %>
            <li><%= link_to 'MY LISTINGS', mylistings_path %></li>
            <li><%= link_to 'MY REPAIRSHOP', myrepairshops_path %></li>

          <% elsif current_user.user_has_repairshops %>

            <li><%= link_to 'MY REPAIRSHOP', myrepairshops_path %></li>

          <% elsif current_user.user_has_listings %>        

            <li><%= link_to 'MY LISTINGS', mylistings_path %></li>

        <% end %>

          <li><%= link_to 'MY DASHBOARD', userpage_path(:id => current_user.slug) %></li>           
          <li>
            <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete %>
          </li>          
        <% else %>
          <li>
            <%= link_to "SIGN IN", new_user_session_path %>
          </li>          
        <% end %>                      
      </ul>      
    </div>
  </div>
</nav>
