<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'logo.ico' %>
<title>Buy and Sell Cars, Trade Vehicles in Wholesale Market, Build Your Free Dealer/Repair Shop Website</title>


<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Great+Vibes|Baloo+Chettan|Damion|Heebo|Kaushan+Script|Lobster|Playfair+Display+SC" rel="stylesheet">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  lazyload>




<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"  lazyload>  
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"  lazyload>


<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"  lazyload>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  lazyload>

    
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js" >
    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
      
  
  
<!-- font -->
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/card/1.3.1/js/card.min.js" lazyload>



<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7912024902186521",
    enable_page_level_ads: true
  });
</script>
   
 <meta name="description" content="Sell & Buy New and Used Cars, Bulk Post Across classified Websites, Real Time Auction, Build Automobile Dealer or RepairShop Website with want a car buy a car CMS, Best Price">
 <meta content="Want A Car Buy A Car" property="og:title" />

<style>
       #map {
        height: 430px;
        width: 100%;  		
       }       
</style>


<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'oms.min', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= slide_down_alerts %>
                    
<%= render 'layouts/navbar'%>
          
<%= yield %>

<%= render 'layouts/footer'%>
  
</body>
</html>
