<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'logo.ico' %>
<title>Buy and Sell Cars, Trade Vehicles in Wholesale Market, Build Your Free Dealer/Repair Shop Website</title>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <link rel="stylesheet" href="/resources/demos/style.css"> -->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  lazyload>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>

<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"  lazyload>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js" async></script>
        
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/card/1.3.1/js/card.min.js" lazyload>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


<% if content_for?(:meta_og) %>
      <%= yield :meta_og %>
  <% else %>
      <meta property="og:title" content="Want A Car Buy A Car" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://www.wantacarbuyacar.com" />
      <%= tag :meta, property: 'og:image', content: image_url('https://s3-us-west-2.amazonaws.com/wacbacassetsdonttouch/wacbacassets/wacbaclogo1.png') %>
      <meta name="description" content="Buy and Sell Cars and Trucks from the most trusted local dealerships. | Find the right Repairshops for your needs | Thousands of vehicles to choose from and financing for EVERYONE! | Regardless how Good or Bad credit situation is | www.wantacarbuyacar.com">
  <% end %>

  <script src='https://www.google.com/recaptcha/api.js'></script>


<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7912024902186521",
    enable_page_level_ads: true
  });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115569294-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115569294-1');
</script>

   
 


<style>
    #map {
      height: 800px;  
      width: 100%;  
      overflow: hidden;    
    }       
  </style>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>



<body>


<%= slide_down_alerts %>

 <div class = "container3">
      <%= content_tag :div, alert, class: "flash bg-danger" if alert %>
      <%= content_tag :div, notice, class: "flash bg-success" if notice %>
      <div id="notification" class = "flash bg-success"> </div>    
  </div>
                    
<%= render 'layouts/navbar'%>

<div class = "col-sm-12 col-md-12 col-lg-12" id ="firstdiv"  style = "background-color: #fff;min-height: 700px; padding: 0px; margin: 0px;">
  <%= yield %> 

</div>

<%= render 'layouts/footer'%>


</body>
</html>
