<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'logo.ico' %>
<title>Buy and Sell Cars, Trade Vehicles in Wholesale Market, Build Your Free Dealer/Repair Shop Website</title>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  lazyload>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>

<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet"  lazyload>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js" async></script>
        
    
<link href="https://cdnjs.cloudflare.com/ajax/libs/card/1.3.1/js/card.min.js" lazyload>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7912024902186521",
    enable_page_level_ads: true
  });
</script>
   
 <meta name="description" content="Sell & Buy New and Used Cars, Bulk Post Across classified Websites, Real Time Auction, Build Automobile Dealer or RepairShop Website with want a car buy a car CMS, Best Price">
 <meta content="Want A Car Buy A Car" property="og:title" />


<style>
    #map {
      height: 800px;  
      width: 100%;  
      overflow: hidden;    
    }       
  </style>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>



<body>


<%= slide_down_alerts %>

 <div class = "container3">
      <%= content_tag :div, alert, class: "flash bg-danger" if alert %>
      <%= content_tag :div, notice, class: "flash bg-success" if notice %>
      <div id="notification" class = "flash bg-success"> </div>    
  </div>
                    
<%= render 'layouts/navbar'%>

<div class = "col-sm-12 col-md-12 col-lg-12" id ="firstdiv"  style = "background-color: #fff;min-height: 700px; padding: 0px; margin: 0px;">
  <%= yield %>
</div>

<%= render 'layouts/footer'%>


</body>
</html>
